<div class="app-search dropdown">
    <form method="get" asp-controller="BlogPost" asp-action="Query" role="form">
        <div class="input-group">
            <input name="s" type="text" class="form-control" placeholder="搜索内容..." id="top-search">
            <span class="mdi mdi-magnify search-icon"></span>
            <button class="input-group-text  btn-primary" type="submit">搜索</button>
        </div>
    </form>
</div>