@page
@inject ISystemService SystemService
@model Dotnet9.RazorPages.Pages.PrivacyModel
@{
    var siteInfo = await SystemService.GetSiteInfoAsync();
    ViewData[ViewDataKeys.Title] = $"隐私政策";
    ViewData[ViewDataKeys.Keywords] = siteInfo?.Keywords;
    ViewData[ViewDataKeys.Description] = siteInfo?.Description;
}

@await Html.PartialAsync("_MarkdownHeader")

<div id="view-content" class="gap-solid"></div>

<div class="details-content">
    @Html.Raw(Model.ContentHtml)
</div>

@await Html.PartialAsync("_MarkdownFooter")