@page "/"

<div>这是<a alt="Dotnet9" href="https://dotnet9.com">Dotnet9</a>网站后台，以下为各平台版本：</div>
<ul>
    <li>
        <a alt="Wasm" href="https://wasm.dotnet9.com">Blazor WebAssembly版本后台(Wasm)</a>
    </li>
    <li>
        <a alt="Server" href="https://server.dotnet9.com">Blazor Server版本后台</a>
    </li>
    <li>
        <a alt="Other" href="https://github.com/dotnet9/Dotnet9" target="_blank">其他版本，请下载源码自行编译：iOS\macOS\Android\Windows...</a>
    </li>
</ul>