@model List<Dotnet9.Application.Contracts.Blogs.BlogPostBriefDto>?

<div class="banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @if (Model != null && Model.Any())
            {
                @foreach (var blogPost in Model)
                {
                    <div class="col">
                        <div class="swiper-slide">
                            <a href="/@blogPost.CreateDate?.ToString("yyyy/MM")/@blogPost.Slug">
                                <img src="@blogPost.Cover" alt="banner1"><span>@blogPost.Title</span>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>