@page "/about"
@using Dotnet9.Caller.Services.Abouts

@inject AboutService AboutService

<PageTitle>关于</PageTitle>

<div id="view-content" class="gap-solid"></div>

<div class="details-content">
    <MarkdownComponent MarkdownContent="@_markdownContent"></MarkdownComponent>
</div>


@code
{
    string? _markdownContent;

    protected override async Task OnInitializedAsync()
    {
        var about = await AboutService.GetAsync();
        _markdownContent = about?.Content;
    }
}