@inject IOptionsSnapshot<SiteOptions> SiteOptions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @SiteOptions.Value.AppName</title>
    <meta name="description" content="@SiteOptions.Value.Description"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2974461_sdshp7jo1jj.css"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_3180954_chol8bk1q14.css"/>
    <link rel="stylesheet" href="/css/index.css" asp-append-version="true" />
    <link rel="icon" href="/images/favicon.png" asp-append-version="true"/>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b1c5c62f256893710ae912468261bf6b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    @await RenderSectionAsync("Headers", false)
</head>
<body>

@await Html.PartialAsync("_HeaderPartial")
<main class="container">
    <div class="container-left">@await Html.PartialAsync("_PersonalPartial")</div>
    <div class="container-right">
        @RenderBody()
    </div>
</main>
@await Html.PartialAsync("_FooterPartial")

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/js/index.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>