@inject IOptionsSnapshot<SiteOptions> SiteOptions
@inject IAlbumService AlbumService
@inject ICategoryService CategoryService
@inject IDistributedCacheHelper CacheHelper

@{
    const string cacheKeyForAlbums = "_MenuPartial";
    List<AlbumBrief>? albums = null;
    List<CategoryBriefForMenu>? categories = null;

    async Task<bool> GetDataFromDb()
    {
        albums = await AlbumService.GetAlbumsAsync();
        categories = await CategoryService.GetCategoriesForMenuAsync();
        return true;
    }

    await CacheHelper.GetOrCreateAsync(cacheKeyForAlbums,
        async e => await GetDataFromDb());
}

<div class="topnav">
    <h2>@SiteOptions.Value.AppName</h2>
    <nav>

        <ul id="starlist">
            <li>
                <a href="/">网站首页</a>
            </li>
            @if (albums is {Count:>0})
            {
                <li class="menu">
                    <a href="/album">特色专辑</a>
                    <ul class="sub">
                        @foreach (var album in albums)
                        {
                            <li>
                                <a href="/album/@album.Slug">@album.Name</a>
                            </li>
                        }
                    </ul>
                    <span></span>
                </li>
            }
            @if (categories is {Count:>0})
            {
                @foreach (var rootCategory in categories)
                {
                    <li class="menu">
                        <a href="/cat/@rootCategory.Slug">@rootCategory.Name</a>
                        @if (rootCategory.Children is {Length:>0})
                        {
                            <ul class="sub">
                                @foreach (var c in rootCategory.Children)
                                {
                                    <li>
                                        <a href="/cat/@c.Slug">@c.Name</a>
                                    </li>
                                }
                            </ul>
                            <span></span>
                        }
                    </li>
                }
            }
            <li class="menu">
                <a href="/about">关于我们</a>
                <ul class="sub">
                    <li>
                        <a href="/about">关于我们</a>
                    </li>
                    <li>
                        <a href="/donation">赞助我们</a>
                    </li>
                    <li>
                        <a href="/archive">文章归档</a>
                    </li>
                    <li>
                        <a href="/timeline">时间轴</a>
                    </li>
                    <li>
                        <a href="/sitemap.xml">站点地图</a>
                    </li>
                    <li>
                        <a href="/tag">标签云</a>
                    </li>
                    <li>
                        <a href="https://github.com/dotnet9/Dotnet9">网站源码</a>
                    </li>
                    <li>
                        <a href="https://github.com/dotnet9/Dotnet9/issues">Bug反馈</a>
                    </li>
                    <li>
                        <a href="https://go.dotnet9.com">Go版博客</a>
                    </li>
                    <li>
                        <a href="/privacy">隐私政策</a>
                    </li>
                </ul>
                <span></span>
            </li>
        </ul>
    </nav>
    <h2 id="mnavh">
        <span class="navicon"></span>
    </h2>
</div>