@model Dotnet9.Web.ViewModel.Commons.PaginationModel
@{
    var showFirst = Model.PageCount > 1;
    var showPrev = Model.Current > 1;
    var prevPageIndex = Model.Current - 1;
    var showNext = Model.Current != Model.PageCount;
    var nextPageIndex = Model.Current + 1;
    var showLast = showFirst;
}

<div class="pagelist">
    <a title="Total record">
        共&nbsp;<b>@Model.Total</b>条
    </a>
    @if (showFirst)
    {
        <a href="?current=1?pageSize=@Model.PageSize">首页</a>
    }
    @if (showPrev)
    {
        <a href="?current=prevPageIndex?pageSize=@Model.PageSize">上一页</a>
    }
    @if (Model.Pages?.Any() == true)
    {
        @foreach (var pageIndex in Model.Pages)
        {
            @if (pageIndex == Model.Current)
            {
                <b>@pageIndex</b>
            }
            else
            {
                <a href="?current=@pageIndex&pageSize=@Model.PageSize">@pageIndex</a>
            }
        }
    }
    @if (showNext)
    {
        <a href="?current=@nextPageIndex&pageSize=@Model.PageSize">下一页</a>
    }
    @if (showLast)
    {
        <a href="?current=@Model.PageCount&pageSize=@Model.PageSize">尾页</a>
    }
</div>