@page "/"
@using Dotnet9.Blazor.Pages.Public

<MApp>
    <MAppBar ElevateOnScroll Color="white" App>
        <MAppBarNavIcon @onclick="() => _drawer = !_drawer"></MAppBarNavIcon>
        <PublicHeader/>
    </MAppBar>
    <MSystemBar Dark Color="primary" Height="30" Class="d-none d-sm-none d-md-flex m-0 p-0">
        <MSpacer></MSpacer>
        <MIcon>mdi-message</MIcon>
        <span style="color: white;">网站开发中，联系方式如下</span>
    </MSystemBar>
    <MNavigationDrawer @bind-Value="_drawer" App>
        <CategorySidebar/>
    </MNavigationDrawer>

    <MMain Class="mt-2 pt-2">
        <BlogPostList/>
    </MMain>
    <MFooter Padless App>
        <MCol Class="text-center m-0 p-0" Cols="12">
            <PublicFooter/>
        </MCol>
    </MFooter>
</MApp>

@code
{
    private bool _drawer = true;
}