<div class="tool-body">
    <p>
        现在
    </p>
    <p>
        北京时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")
    </p>
    <p>
        时间戳：@DateToTimestamp(DateTime.Now, TimestampKind.Seconds)
    </p>

    <div class="gap-solid" style="margin: 10px 0 20px 0"></div>

    <p>
        时间戳转时间
    </p>
    <p>
        <MTextField Label="时间戳" Type="number" TValue="long" @bind-Value="_timestamp1"/>
        <MSelect @bind-Value="_kindValue1"
                 Label="时间戳类型"
                 Items="@_items"
                 ItemText="u => u.Label"
                 ItemValue="u => u.Value"
                 Class="mx-3"
                 style="margin: 0 0 0 20px"
                 MenuProps="props => props.OffsetY = true">
        </MSelect>
    </p>
    <p>
        <MButton Color="lime" OnClick="@Convert1">转换</MButton>
    </p>
    <p>
        <MTextField Label="北京时间"
                    TValue="string" @bind-Value="_datetime1"
                    Class="ml-3"/>
    </p>

    <div class="gap-solid" style="margin: 10px 0 20px 0"></div>

    <p>
        时间转时间戳
    </p>
    <p>
        <MTextField Label="北京时间" TValue="string" @bind-Value="_datetime2"/>
    </p>
    <p>
        <MButton Color="lime" Class="mx-3" OnClick="@Convert2">转换</MButton>
    </p>
    <p>
        <MTextField Label="时间戳" TValue="long" @bind-Value="_timestamp2"/>
        <MSelect @bind-Value="_kindValue2"
                 Label="时间戳类型"
                 Items="_items"
                 ItemText="u => u.Label"
                 ItemValue="u => u.Value"
                 MenuProps="props => props.OffsetY = true"
                 style="margin: 0 0 0 20px"
                 Class="ml-3">
        </MSelect>
    </p>
</div>

@code
{
    DateTime _currentDatetime;
    long _timestamp1;
    long _timestamp2;
    string? _datetime1;
    string? _datetime2;
    TimestampKind _kindValue1;
    TimestampKind _kindValue2;

    readonly List<TimestampItem> _items = new();

    protected override Task OnInitializedAsync()
    {
        _items.Add(new TimestampItem("秒", TimestampKind.Seconds));
        _items.Add(new TimestampItem("毫秒", TimestampKind.Milliseconds));
        _currentDatetime = DateTime.Now;
        _timestamp1 = _timestamp2 = DateToTimestamp(_currentDatetime, TimestampKind.Seconds);
        _datetime1 = _datetime2 = _currentDatetime.ToString("yyyy-MM-dd HH:mm:ss");
        return base.OnInitializedAsync();
    }

    private void Convert1()
    {
        _datetime1 = TimestampToDate(_timestamp1, _kindValue1).ToString(_kindValue1 == TimestampKind.Seconds ? "yyyy-MM-dd HH:mm:ss" : "yyyy-MM-dd HH:mm:ss.fff");
    }

    private void Convert2()
    {
        try
        {
            _timestamp2 = DateToTimestamp(DateTime.Parse(_datetime2), _kindValue2);
        }
        catch
        {
    // ignored
        }
    }

    private static long DateToTimestamp(DateTime date, TimestampKind kind)
    {
        try
        {
            var point = new DateTime(1970, 1, 1);
            var time = date.Subtract(point);

            return (long)(kind == TimestampKind.Seconds ? time.TotalSeconds : time.TotalMilliseconds);
        }
        catch
        {
            return default;
        }
    }


    private static DateTime TimestampToDate(long timestamp, TimestampKind kind)
    {
        try
        {
            var point = new DateTime(1970, 1, 1);
            var time = kind == TimestampKind.Seconds ? point.AddSeconds(timestamp) : point.AddMilliseconds(timestamp);

            return time;
        }
        catch
        {
            return default;
        }
    }

    enum TimestampKind
    {
        Seconds,
        Milliseconds
    }

    class TimestampItem
    {
        public string Label { get; }
        public TimestampKind Value { get; }

        public TimestampItem(string label, TimestampKind value)
        {
            Label = label;
            Value = value;
        }
    }
}