{{define "header"}}
<header>
    <div class="header-wrap">
        <!-- logo -->
        <div class="header-left">
            <h1>
                <a href="/">
                    <img class="logo-img" src="{{.Logo}}" alt="{{.Title}}-LOGO" />
                </a>
            </h1>
            <!-- 导航 -->
            <ul class="header-nav">
                {{range $index,$elem := .Navigation}} {{if isEven $index}}
                <li><a href="{{getNextName $.Navigation $index}}">{{$elem}}</a></li>
                {{end}} {{end}}
            </ul>
        </div>
        <div class="header-right">
            <div class="header-search">
                <input id="search-input" type="text" placeholder="搜索一下" />
                <i class="iconfont icon-search"></i>
                <div class="search-drop"></div>
            </div>
            <a class="login-action" href="/login">
                <button class="login-btn">登录</button>
            </a>
            <div class="login-end">
                <p class="iconfont icon-yonghu"><span class="login-username"></span></p>
                <ul class="login-drop">
                    <a href="/writing"><li>写作</li></a>
                    <li class="login-out">退出登录</li>
                </ul>
            </div>
        </div>
    </div>
</header>

{{ end }}