{{define "pagination"}}
<div>
  {{if lt 10 .Total}}
  <ul class="pagination">
    {{if gt .Page 1}}
    <li class="pagination-prev iconfont icon-jiantouyou"></li>
    {{end}} {{range $index, $elem := .Pages}}
    <li
      class="pagination-btn"
      {{if
      eq
      $elem
      $.Page}}
      active
      {{end}}
      value="{{$elem}}"
    >
      <a href="?page={{$elem}}">{{$elem}}</a>
    </li>
    {{end}} {{if .PageEnd}}
    <li class="pagination-next iconfont icon-jiantouyou"></li>
    {{end}}
  </ul>
  {{else}}
    <ul class="pagination">
      <li class="pagination-total">共{{.Total}}条</li>
    </ul>
  {{end}}
</div>
{{end}}