{{define "personal"}}
<div class="personal">
  <div class="personal-box">
    <img class="personal-avatar" src="{{.Avatar}}" alt="{{.UserName}}" />
    <h1 class="personal-name">{{.UserName}}</h1>
    <p class="personal-desc">{{.UserDesc}}</p>
    <span class="gap-dashed"></span>
    <ul class="personal-action">
      <li>
        <i class="iconfont icon-bilibili-line"></i>
        <a href="${.Bilibili}" target="_blank"> Bilibili</a>
      </li>
      <li>
        <i class="iconfont icon-zhihu-circle"></i>
        <a href="${.Zhihu}" target="_blank"> 知乎</a>
      </li>
    </ul>
  </div>
  <span class="gap-solid"></span>
  <div class="personal-box">
    <div class="personal-cteg">
      <h2>分类：</h2>
      {{range $index,$elem := .Categories}}
      <div>
        <i class="iconfont icon-fenlei-copy"></i>
        <a href="/c/{{$elem.Cid}}">{{$elem.Name}}</a>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}