@model Dotnet9.Web.ViewModels.Blogs.LatestViewModel

<div class="whitebg suiji">
    <h2 class="side-title">猜你喜欢</h2>
    <ul>
        @if (Model.BlogPosts.Any())
        {
            @foreach (var item in Model.BlogPosts)
            {
                <li>
                    <i></i>
                    <a href="/@item.CreateDate?.ToString("yyyy/MM")/@item.Slug" title="@item.Title">@item.Title</a>
                </li>
            }
        }
    </ul>
</div>