.aside {
    height: 100%;
    overflow: hidden;
    // border-right: solid 1px var(--el-menu-border-color);
    background-color: var(--menu-bg);
    width: 60px;
    transition: width 0.3s linear;

    .el-menu {
        border-right: none;
    }

    .el-menu--inline {
        background-color: var(--menu-sub-bg);
    }

    .menu-box {
        height: 100%;
    }
}

.aside-open {
    width: 230px;
    transition: width 0.3s linear;
}
