// :root{
//     --menu-bg:#010918;
//     --menu-sub-bg:#001721;
//     --menu-active-color: #fff;
//     // --logo-text-color: #fff;
//     --el-menu-text-color:red;
// }

// .el-menu-item{
//     color: rgb(146, 146, 146);
// }
.el-menu--inline{
    background-color: #231c19 !important;
}
$aside-w: 230px;
$header-h: 60px;
