.chess {
    background: #edc98f;
    width: 546px;
    height: 546px;
    border: #b18956 4px solid;
    overflow: hidden;
    float: left;
}

    .chess .inner {
        margin-left: -17px;
        margin-top: -17px;
        width: 570px;
        height: 570px;
    }

    .chess .cell {
        float: left;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        font-size: 10px;
        color: #ffd800;
    }

        .chess .cell::after {
            content: ' ';
            position: absolute;
            height: 2px;
            display: block;
            width: 100%;
            border-bottom: #f5d099 1px solid;
            background: #c8a06f;
            top: 50%;
            left: 0;
            z-index: 2;
        }

        .chess .cell::before {
            content: ' ';
            position: absolute;
            height: 100%;
            display: block;
            width: 2px;
            border-right: #f5d099 1px solid;
            background: #c8a06f;
            top: 0;
            left: 50%;
            z-index: 1;
        }

        .chess .cell .chess1 {
            display: block;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 54px;
            border-radius: 13px;
            background: #000000;
            left: 2px;
            top: 2px;
            position: absolute;
            z-index: 10;
            background-image: radial-gradient(#444 5%, #111 15%, #000 60%);
            box-shadow: 0px 0px 3px #333;
        }

        .chess .cell .chess2 {
            width: 26px;
            height: 26px;
            border-radius: 13px;
            left: 2px;
            top: 2px;
            display: block;
            position: absolute;
            z-index: 10;
            text-align: center;
            line-height: 54px;
            background-image: radial-gradient(#ffffff 5%, #f1f1f1 15%, #f1f1f1 60%);
            box-shadow: 0px 0px 3px #333;
        }

.chessbox {
    width: 700px;
    overflow: hidden;
    margin: calc((100vh - 570px)/2) auto;
}

.sidebar {
    width: 154px;
    float: right;
}

    .sidebar .inner {
        padding-left: 20px;
    }
