@model TagViewModel

<div class="whitebg box tags">
    <div class="news-title">
        <h2>热门标签</h2>
        <span class="tab-a-more">
            <a href="/tag" title="更多">
                <i></i><i></i><i></i>
            </a>
        </span>
    </div>
    <ul>
        @if (Model.Tags != null && Model.Tags.Any())
        {
            @foreach (var tag in Model.Tags.Random(30))
            {
                <a href="/tag/@WebUtility.UrlEncode(tag.Name)">
                    @tag.Name<span>(@tag.BlogPostCount)</span>
                </a>
            }
        }
    </ul>
</div>