<ul class="side-nav">

    <li class="side-nav-title side-nav-item">导航</li>

    <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="/admin" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
            <i class="uil-home-alt"></i>
            <span> 首页 </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">工具</li>

    <li class="side-nav-item">
        <a href="/timestamp" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> 时间戳 </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="/icon" class="side-nav-link">
            <i class="uil-comments-alt"></i>
            <span> Icon转换 </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="apps-chat.html" class="side-nav-link">
            <i class="uil-comments-alt"></i>
            <span> 正则表达式 </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">专辑</li>

    <li class="side-nav-item">
        <a href="/album/wpf" class="side-nav-link">
            <i class="uil-calender"></i>
            <span> WPF </span>
        </a>
    </li>

    <li class="side-nav-item">
        <a href="/album/blazor" class="side-nav-link">
            <i class="uil-comments-alt"></i>
            <span> Blazor </span>
        </a>
    </li>

    <li class="side-nav-title side-nav-item">博客</li>

    <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="/admin#sidebarDotnet" aria-expanded="false" aria-controls="sidebarDotnet" class="side-nav-link">
            <i class="uil uil-tachometer-fast"></i>
            <span> Dotnet </span>
            <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarDotnet">
            <ul class="side-nav-second-level">
                <li>
                    <a href="/cat/web-api">Web API</a>
                </li>
                <li>
                    <a href="/cat/blazor">Blazor</a>
                </li>
                <li>
                    <a href="/cat/mvc">MVC</a>
                </li>
                <li>
                    <a href="/cat/wpf">WPF</a>
                </li>
                <li>
                    <a href="/cat/winform">Winform</a>
                </li>
                <li>
                    <a href="/cat/maui">MAUI</a>
                </li>
            </ul>
        </div>
    </li>

    <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="/admin#sidebarFront" aria-expanded="false" aria-controls="sidebarFront" class="side-nav-link">
            <i class="uil-store"></i>
            <span> 前端 </span>
            <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarFront">
            <ul class="side-nav-second-level">
                <li>
                    <a href="/album/bootstrap">Bootstrap</a>
                </li>
                <li>
                    <a href="/album/react">React</a>
                </li>
                <li>
                    <a href="/album/vue">vue</a>
                </li>
            </ul>
        </div>
    </li>

    <li class="side-nav-title side-nav-item">关于</li>

    <li class="side-nav-item">
        <a data-bs-toggle="collapse" href="/admin#sidebarAbout" aria-expanded="false" aria-controls="sidebarAbout" class="side-nav-link">
            <i class="uil-copy-alt"></i>
            <span> 关于 </span>
            <span class="menu-arrow"></span>
        </a>
        <div class="collapse" id="sidebarAbout">
            <ul class="side-nav-second-level">
                <li>
                    <a href="pages-profile.html">关于</a>
                </li>
                <li>
                    <a href="pages-profile-2.html">时间线</a>
                </li>
                <li>
                    <a href="pages-invoice.html">站点地图</a>
                </li>
                <li>
                    <a href="pages-faq.html">FAQ</a>
                </li>
                <li>
                    <a href="pages-pricing.html">隐私</a>
                </li>
            </ul>
        </div>
    </li>

</ul>