
.target {
    position: relative;
  }
  
  .target::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #048bfa;
    transition: width 0.3s ease-out;
  }
  
  .target:hover::after {
    width: 100%;
    transition: width 0.3s ease-out;
  }
  