@model PageViewModel
@{
    var list = Model.GetUrls().ToList();
}

<nav class="d-flex flex-column align-items-center">
    <ul class="pagination">

        @{
            foreach (var pageItem in list)
            {
                <li class="page-item @(pageItem.IsActive ? "active" : "")" aria-current="page">
                    <a class="page-link" href="@pageItem.Url">@pageItem.Text</a>
                </li>
            }
        }
    </ul>
</nav>