@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<MButton Depressed Color="error" OnClick="IncrementCount">点击我</MButton>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }

}