
p code{
    background: #adabab !important;
    border: #1E1E1E !important;
    color: #fd0505 !important;
    padding: 2px !important;
    margin: 2px !important;
    border-radius: 4px;
  }


  
.copy {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
  }
  
  .hljs {
    background: #1E1E1E !important;
    border: #1E1E1E !important;
  }
  
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #3f8ee9 !important;
  }
  
  .header-item:hover {
    transition: 0.3s;
    color: #066ef7;
  }
  
  .blog-markdown table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .blog-markdown thead {
    background-color: #f5f5f5;
  }
  
  .blog-markdown th,
  td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .blog-markdown th {
    font-weight: bold;
  }
  
  .blog-markdown tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .blog-markdown a {
    color: #066ef7;
  }
  
  .blog-markdown a:hover {
    color: #066ef7;
    text-decoration: underline;
  }
  