@page "/categories/{Slug}"

@model Dotnet9.RazorPages.Pages.Categories.IndexModel
@{
    ViewData[ViewDataKeys.Title] = $"分类-{Model.RequestResponse?.CategoryName}";
    ViewData[ViewDataKeys.Keywords] = Model.Slug;
    ViewData[ViewDataKeys.Description] = Model.RequestResponse?.CategoryName;
}

<h1 class="detail-title">分类-@Model.RequestResponse?.CategoryName</h1>

<div id="view-content" class="gap-solid"></div>

@await Html.PartialAsync("_PaginationPartial", new PaginationModel(Model.Blogs, $"/categories/{Model.Slug}", Model.Current, Model.Pages, Model.RequestResponse!.Total, Model.PageSize, Model.RequestResponse.TotalPage))