body {
  background: #eff0f3;
}

p, h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

a {
  list-style-type: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

pre {
  border-radius: 12px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: url("/img/random.jpg") repeat;
}
html main, body main {
  flex: 1;
}
html main .item-title, body main .item-title {
  font-size: 24px;
  padding-left: 16px;
  display: inline;
}
html main .post-list, body main .post-list {
  display: flex;
  flex-direction: row;
}
html main .post-list .post-item, body main .post-list .post-item {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  box-sizing: border-box;
  flex: 1;
}
html main .post-list .post-item .post-item-title, body main .post-list .post-item .post-item-title {
  font-size: 22px;
  font-weight: 400;
}
html main .post-list .post-item-body, body main .post-list .post-item-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
html main .post-list .post-item-body .post-item-cate, body main .post-list .post-item-body .post-item-cate {
  margin-bottom: 10px;
}
html main .post-list .post-item-desc, body main .post-list .post-item-desc {
  display: flex;
  flex-direction: row;
  padding-top: 6px;
}
html main .post-list .post-item-desc .post-thumb, body main .post-list .post-item-desc .post-thumb {
  width: 140px;
  height: 140px;
  background: #e1e1e1;
  margin-right: 12px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  html main .post-list .post-item-desc .post-thumb, body main .post-list .post-item-desc .post-thumb {
    display: none;
  }
}
html main .post-list .post-item-desc .post-thumb img, body main .post-list .post-item-desc .post-thumb img {
  width: 140px;
  height: 140px;
  transform: scale(1);
  transition: transform 0.3s linear;
}
html main .post-list .post-item-desc .post-thumb img:hover, body main .post-list .post-item-desc .post-thumb img:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
  border: 1px solid #000;
}
html footer .footer, body footer .footer {
  min-height: 150px;
}
html footer .footer .friend-links, body footer .footer .friend-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
html footer .footer .friend-links a, body footer .footer .friend-links a {
  margin-right: 10px;
}
html footer .footer .beian a, body footer .footer .beian a {
  margin-left: 5px;
  color: white;
}

.post-content {
  display: flex;
  flex-direction: column;
}
.post-content .post-header {
  font-size: 24px;
}
.post-content .post-box {
  display: flex;
  flex-direction: column;
}
.post-content .post-body p {
  line-height: 2;
}

.rank-title {
  padding: 4px 0;
}
.rank-title h3 {
  font-size: 22px;
  border-bottom: 2px solid #f74d67;
  display: inline;
  padding-bottom: 4px;
}

.rank-list {
  padding: 0;
  list-style: none;
  margin: 8px 0 0;
}
.rank-list li {
  padding: 4px 0;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.rank-list li a {
  flex: 1;
}
.rank-list .rank-index {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background: #f0f0f0;
  line-height: 24px;
  margin-right: 10px;
  text-align: center;
  border-radius: 4px;
}
.rank-list li:nth-child(1) > .rank-index {
  background-color: #fc5185;
  color: white;
}
.rank-list li:nth-child(2) > .rank-index {
  background-color: #364f6b;
  color: white;
}
.rank-list li:nth-child(3) > .rank-index {
  background-color: #43dde6;
  color: white;
}

.cate-name {
  font-size: 22px;
  padding: 10px 0;
}

/*# sourceMappingURL=site.css.map */
