@page "/album/{slug?}"
@using Dotnet9.Tools.Web.Shared.Public
@using Dotnet9.Tools.Web.Models
@layout DocLayout

<h1 style="text-align: center">@T("Album")</h1>

<CardItemList Title="@T("Album")" Items="_items"></CardItemList>

@code {

    [Parameter]
    public string? Slug { get; set; }

    [CascadingParameter]
    public PublicLayout? MainLayout { get; set; }

    List<CardItem>? _items;

    public string T(string key)
    {
        return MainLayout?.T(key) ?? string.Empty;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Slug))
        {
            _items = ConstDatas.AlbumTreeItems!.Select(x => new CardItem(secondTitle: x.Name, secondUrl: $"/album/{x.Slug}", cover: x.Cover)).ToList();
        }
        else
        {
            var album = ConstDatas.AlbumTreeItems!.FirstOrDefault(x => x.Slug == Slug);
            if (album == null) return;

            var posts = ConstDatas.BlogPostItems!.FindAll(x => x.Albums != null && x.Albums.Contains(album.Name));

            _items = posts.Select(x =>
            {
                var category = ConstDatas.CategoryNotTreeItems.FirstOrDefault(c => c.Name == x.Categories![0]);
                return new CardItem(category!.Name, $"/cat/{category.Slug}", x.Title, $"/post/{x.Slug}", x.Cover);
            }).ToList();
        }
        await base.OnParametersSetAsync();
    }

}