@page "/s"
@using Dotnet9.Tools.Web.Models
@using Dotnet9.Tools.Web.Shared.Public
@layout DocLayout

<PageTitle>搜索 - D9工具箱</PageTitle>

<h1 class="entry-title">搜索: @Filter</h1>

@if (string.IsNullOrWhiteSpace(Filter))
{
    <p>请输入查询关键字进行搜索</p>
}
else if (_items is {Count: > 0 })
{
    <CardItemList Items="_items"></CardItemList>
}
else
{
    <NotContentFound/>
}

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Filter { get; set; }

    List<CardItem>? _items;

    protected override async Task OnParametersSetAsync()
    {
        _items?.Clear();
        if (string.IsNullOrWhiteSpace(Filter))
        {
            return;
        }

        var posts = ConstData.BlogPostItems.FindAll(x => x.IsExist(Filter));

        if (posts.Count <= 0)
        {
            return;
        }
        _items = posts.Select(x =>
        {
            var category = ConstData.CategoryNotTreeItems.FirstOrDefault(c => c.Name == x.Categories![0]);
            return CardItemExtension.CreateCardItem(category, x);
        }).ToList();
        await Task.CompletedTask;
    }

}

<style>
    .entry-title { text-align: left; }
</style>