@model Dotnet9.Web.ViewModels.NavigationMenuViewModel

<nav class="navbar navbar-dark navbar-expand-lg topnav-menu">

    <div class="collapse navbar-collapse" id="topnav-menu-content">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow-none" href="/tools" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="uil-apps me-1"></i>工具
                    <div class="arrow-down"></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                    @if (Model.ToolCountDtos != null)
                    {
                        @foreach (var toolItem in Model.ToolCountDtos)
                        {
                            <a href="@toolItem.RelativeUrl" class="dropdown-item">@toolItem.Name</a>
                        }
                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow-none" href="/albums" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="uil-apps me-1"></i>专辑
                    <div class="arrow-down"></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="topnav-apps">
                    @if (Model.AlbumCountDtos != null)
                    {
                        @foreach (var albumItem in Model.AlbumCountDtos)
                        {
                            <a href="/album/@albumItem.Slug" class="dropdown-item">@albumItem.Name</a>
                        }
                    }
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow-none" href="/blogposts" id="topnav-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="uil-copy-alt me-1"></i>博客
                    <div class="arrow-down"></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="topnav-pages">
                    @if (Model.CategoryForMenuViewModels != null)
                    {
                        @foreach (var category in Model.CategoryForMenuViewModels)
                        {
                            @await Html.PartialAsync("/Views/Category/MenuHorizontalItem.cshtml", category)
                        }
                    }
                    @*<div class="dropdown">
                        <a class="dropdown-item dropdown-toggle arrow-none" href="/cat/dotnet" id="topnav-auth" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dotnet
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-auth">
                            <a href="pages-login.html" class="dropdown-item">WPF</a>
                            <a href="pages-login-2.html" class="dropdown-item">Winform</a>
                            <a href="pages-register.html" class="dropdown-item">MVC</a>
                            <a href="pages-register-2.html" class="dropdown-item">Blazor</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-item dropdown-toggle arrow-none" href="/cat/front" id="topnav-error" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            前端
                            <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-error">
                            <a href="pages-404.html" class="dropdown-item">Bootstrap</a>
                            <a href="pages-404-alt.html" class="dropdown-item">React</a>
                            <a href="pages-500.html" class="dropdown-item">Vue</a>
                        </div>
                    </div>*@
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle arrow-none" href="/about" id="topnav-layouts" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="uil-window me-1"></i>关于
                    <div class="arrow-down"></div>
                </a>
                <div class="dropdown-menu" aria-labelledby="topnav-layouts">
                    <a href="/about" class="dropdown-item">关于</a>
                    <a href="/donation" class="dropdown-item">赞助</a>
                    <a href="layouts-detached.html" class="dropdown-item">站点地图</a>
                    <a href="layouts-horizontal.html" class="dropdown-item">标签云</a>
                    <a href="layouts-full.html" class="dropdown-item">隐私</a>
                </div>
            </li>
        </ul>
    </div>
</nav>