@inherits LayoutComponentBase
@inject GlobalConfig GlobalConfig
@implements IDisposable

<MApp>
    <MAppBar Elevation="0" App MaxHeight="60" Class="@($"{(GlobalConfig.PageMode == PageModes.PageTab ? "mx-6" : "mx-6 rounded-b-4")}")">
        <Favorite/>
        <MSpacer/>
        <Search/>
        <MIcon Size="20" Class="ml-5" Color="neutrul-lighten-3">mdi-message-processing-outline</MIcon>
        <MIcon Size="20" Class="ml-5" Color="neutral-lighten-3">mdi-cog</MIcon>
        <Login/>
    </MAppBar>

    <Navigation/>

    <MMain Class="fill-lighten-1" Style="padding-top: 60px">
        @switch (GlobalConfig.PageMode)
        {
            case PageModes.Breadcrumb:
                <div class="pa-6 max-width">
                    <Breadcrumb/>
                    @Body
                </div>
                break;
            case PageModes.PageTab:
                <PageTabs>
                    @Body
                </PageTabs>
                break;
            default:
                <div class="pa-6 max-width">
                    @Body
                </div>
                break;
        }
    </MMain>

    <Settings @bind-Show="_showSetting"/>
</MApp>

@code {

    private bool _showSetting;

    protected override void OnInitialized()
    {
        GlobalConfig.OnPageModeChanged += StateHasChanged;
    }

    public void Dispose()
    {
        GlobalConfig.OnPageModeChanged -= StateHasChanged;
    }

}