@{
    ViewData["Title"] = "404错误";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}


<article>

    <div class="pics-list-box whitebg">
        <div class="news-title">
            <span class="hnav">
                <h2>404错误</h2>
            </span>
        </div>
        看起来你可能拐错了方向。
    </div>
</article>