@model Dotnet9.Web.ViewModels.Categories.CategoryForMenuViewModel

@if (Model.Children == null || !Model.Children.Any())
{
    <a href="/cat/@Model.Slug" class="dropdown-item">@Model.Name</a>
}
else
{
    <div class="dropdown">
        <a class="dropdown-item dropdown-toggle arrow-none" href="/cat/@Model.Slug" id="topnav-auth" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.Name
            <div class="arrow-down"></div>
        </a>
        <div class="dropdown-menu" aria-labelledby="topnav-auth">
            @foreach (var secondCategory in Model.Children)
            {
                @await Html.PartialAsync("/Views/Category/MenuHorizontalItem.cshtml", secondCategory)
            }
        </div>
    </div>
}