@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">错误。</h1>
<h2 class="text-danger">处理您的请求时出错。</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>请求ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    切换 <strong>Development</strong> 环境展示关于错误的详细信息。
</p>
<p>
    <strong>不应为已部署的应用程序启用开发环境。</strong>
    它可能会导致向最终用户显示异常的敏感信息。
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>