@inject I18n I18N

<MFooter Dark Padless Color="#5C2D91" Height="333" Class="footer">
    <div class="foot-box">
        <div>
            <p>感谢</p>
            <p class="foot-p">
                <a href="https://masa-blazor-docs-dev.lonsid.cn/" target="_blank">Masa Blazor</a>
            </p>
            <p class="foot-p">&nbsp;</p>
        </div>
        <div>
            <p>友链</p>
            <p>
                <a href="https://dotnet9.com" target="_blank">Dotnet9</a>
            </p>
            <p class="foot-p">&nbsp;</p>
        </div>
        <div>
            <p>@T(nameof(LanguageKeys.UpdateLog))</p>
            <p>@T(nameof(LanguageKeys.CommonProblem))</p>
            <p class="foot-p">&nbsp;</p>
        </div>
    </div>
</MFooter>

@code
{
    public string? T(string key)
    {
        return I18N.LanguageMap.GetValueOrDefault(key);
    }
}

<style>

    
</style>