@using BlazorComponent
<MContainer Class="text-center fill-height" Style="height: calc(100vh - 58px)">
    <MRow Align="AlignTypes.Center">
        <MCol>
            <img src="empty.svg" alt="抱歉，你搜索的内容未找到，请尝试使用其他关键词搜索。" style="max-width: 400px;"/>

            <p style="color: #828282; margin-top: 20px;">抱歉，你搜索的内容未找到，请尝试使用其他关键词搜索。</p>
        </MCol>
    </MRow>
</MContainer>