@using BlazorComponent
<PageTitle>404 - D9工具箱</PageTitle>

<MContainer Class="text-center fill-height" Style="height: calc(100vh - 58px)">
    <MRow Align="AlignTypes.Center">
        <MCol>
            <img src="404.png" alt="有点糟糕404了"/>
            <h1 class="text-h3 primary--text">
                有点糟糕404了
            </h1>

            <p>404啦，没找到您需要的内容，尝试换个方式吧。</p>
            <div align="center">
                <Search></Search>
            </div>
            <MButton Class="mt-3" Href="/" Color="primary" Outlined>
                带我离开这里吧!
            </MButton>
        </MCol>
    </MRow>
</MContainer>