@using Dotnet9.Tools.Web.Services
@using Dotnet9.Tools.Web.ViewModels.Comments
<p style="margin-top: 20px;">Comments: </p>
<MRow>
    <MCol>
        @if (_items is not {Count: > 0 })
        {
            <p style="margin-left: 1.2em;">There is no comment.</p>
        }
        else
        {
            <CommentList Items="@_items"></CommentList>
        }
    </MCol>
</MRow>

<p style="margin-top: 20px;">Comment: </p>
<AddComment></AddComment>

@code {

    [Parameter]
    public string? Url { get; set; }

    [Inject]
    private CommentService CommentService { get; set; } = null!;

    private List<CommentViewModel>? _items;

    protected override async Task OnInitializedAsync()
    {
        if (Url != null)
        {
            _items = await CommentService.GetCommentsAsync(DesHelper.DesEncrypt(Url));
        }
    }

}