@inherits LayoutComponentBase

<MApp Class="baselayout-m-app">

    <MAppBar ElevateOnScroll Color="white" Height="80" Elevation="0" ClippedLeft ClippedRight App>
        @*<MAppBarNavIcon @onclick="() => _drawer = !_drawer"/>*@
        <PublicHeader/>
    </MAppBar>

    @*<MSystemBar Dark Color="primary" Height="30" Class="d-none d-sm-none d-md-flex m-0 p-0" App>
                <MSpacer></MSpacer>
                <MIcon>mdi-message</MIcon>
                <span style="color: white;">免费开源在线工具，方便自己，方便他人</span>
            </MSystemBar>*@

    <MNavigationDrawer @bind-Value="_drawer" Floating Fixed Width="333" App Clipped>
        <ChildContent>
            <PublicCategorySidebar/>
            <div class="pt-12"></div>
        </ChildContent>
    </MNavigationDrawer>

    <MMain Class="mainlayout-m-main">
        @Body
    </MMain>


    <MFooter Color="primary lighten-1" Padless>
        <PublicFooter/>
    </MFooter>

</MApp>

@code
{
    private bool _drawer = true;
}