@using System.Net
@model Dotnet9.Application.Contracts.Tags.TagViewModel
@{
    ViewData["Title"] = "标签云";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    var buttonsClasses = new[] { "primary", "secondary", "success", "danger", "warning", "info", "dark" };
    var random = new Random(DateTime.Now.Millisecond);
}

<article>
    @if (Model.Tags != null)
    {
        @foreach (var tag in Model.Tags)
        {
            <a href="/tag/@WebUtility.UrlEncode(tag.Name)" alt="@tag.Name">
                <button type="button" class="btn btn-outline-@(buttonsClasses[random.Next(buttonsClasses.Length)]) rounded-pill">@tag.Name (@tag.BlogPostCount)</button>
            </a>
        }
    }
    else
    {
        @await Html.PartialAsync("/Views/BlogPost/BlogPostCardList.cshtml", Model.BlogPosts)
    }
</article>