@model Dotnet9.Web.ViewModels.UrlLinks.FriendLinkViewModel

<div class="links whitebg box ">
    <div class="news-title">
        <h2>友情链接</h2>
    </div>
    <ul>
        @if (Model.FriendLinks != null)
        {
            @foreach (var url in Model.FriendLinks)
            {
                <li>
                    <a href="@url.Url" alt="@url.Description">@url.Name</a>
                </li>
            }
        }
    </
    ul>
</div>