<div class="rightbar-title">
    <a href="javascript:void(0);" class="end-bar-toggle float-end">
        <i class="dripicons-cross noti-icon"></i>
    </a>
    <h5 class="m-0">设置</h5>
</div>

<div class="rightbar-content h-100" data-simplebar>

    <div class="p-3">
        <div class="alert alert-warning" role="alert">
            <strong>自定义 </strong> 整体配色方案、侧边栏菜单等。
        </div>

        <!-- Settings -->
        <h5 class="mt-3">配色</h5>
        <hr class="mt-1"/>

        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light" id="light-mode-check" checked>
            <label class="form-check-label" for="light-mode-check">浅色模式</label>
        </div>

        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark" id="dark-mode-check">
            <label class="form-check-label" for="dark-mode-check">深色模式</label>
        </div>


        <!-- Width -->
        <h5 class="mt-4">宽度</h5>
        <hr class="mt-1"/>
        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check" checked>
            <label class="form-check-label" for="fluid-check">Fluid</label>
        </div>

        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
            <label class="form-check-label" for="boxed-check">Boxed</label>
        </div>


        <!-- Left Sidebar-->
        <h5 class="mt-4">左侧边栏</h5>
        <hr class="mt-1"/>
        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="theme" value="default" id="default-check">
            <label class="form-check-label" for="default-check">默认</label>
        </div>

        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="theme" value="light" id="light-check" checked>
            <label class="form-check-label" for="light-check">浅色</label>
        </div>

        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" name="theme" value="dark" id="dark-check">
            <label class="form-check-label" for="dark-check">深色</label>
        </div>

        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="compact" value="fixed" id="fixed-check" checked>
            <label class="form-check-label" for="fixed-check">Fixed</label>
        </div>

        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="compact" value="condensed" id="condensed-check">
            <label class="form-check-label" for="condensed-check">Condensed</label>
        </div>

        <div class="form-check form-switch mb-1">
            <input class="form-check-input" type="checkbox" name="compact" value="scrollable" id="scrollable-check">
            <label class="form-check-label" for="scrollable-check">Scrollable</label>
        </div>

        <div class="d-grid mt-4">
            <button class="btn btn-primary" id="resetBtn">重置为默认值</button>
        </div>
    </div> <!-- end padding-->

</div>