<div class="toolbar-open"></div>
<div class="toolbar">
    <div class="toolbar-close">
        <span id="closed"></span>
    </div>
    <div class="toolbar-nav">
        <ul id="toolbar-menu">
            <li>
                <i class="side-icon-user"></i>
                <section>
                    <div class="userinfo">
                        <form name=login method=post action="[!--news.url--]e/member/doaction.php">
                            <input type=hidden name=enews value=login>
                            <input type=hidden name=ecmsfrom value=9>
                            <input name="username" type="text" class="inputText" size="16" placeholder="用户名"/>
                            <input name="password" type="password" class="inputText" size="16" placeholder="密码"/>
                            <input type="submit" name="Submit" value="登陆" class="inputsub-dl"/>
                            <a href="[!--news.url--]e/member/register/index.php?tobind=0&groupid=1" class="inputsub-zc">注册</a>
                        </form>
                        <!--登陆后状态-->
                        <!--<div class="clear"></div>
                        <div class="logged">
                            <b>青于蓝管理员，您好！</b> <a href="[!--news.url--]e/member/cp/" target="_parent">会员中心</a> <a href="[!--news.url--]e/member/doaction.php?enews=exit&ecmsfrom=9" onclick="return confirm('确认要退出?');">退出</a>
                        </div>-->
                    </div>
                </section>
            </li>
            <li>
                <i class="side-icon-qq"></i>
                <section class="qq-section">
                    <div class="qqinfo">
                        <a href="https://qm.qq.com/cgi-bin/qm/qr?k=iL6egdGSGCMPezcUyzMPEcs9qsllgwr-&jump_from=webapi">Dotnet9软件技术交流群①</a>
                    </div>
                </section>
            </li>
            <li>
                <i class="side-icon-weixin"></i>
                <section class="weixin-section">
                    <div class="weixin-info">
                        <p>个人微信扫码</p>
                        <img src="https://img1.dotnet9.com/site/wechatowner.jpg">
                        <p class="text12">工作时间</p>
                        <p class="text12">周一至周日 9:00-21:00</p>
                    </div>
                </section>
            </li>
            <li>
                <i class="side-icon-dashang"></i>
                <section class="dashang-section">
                    <p>如果你觉得本站很棒，可以通过扫码支付打赏哦！</p>
                    <ul>
                        <li><img src="https://img1.dotnet9.com/pays/WeChatPay.jpg" alt="">微信收款码</li>
                        <li><img src="https://img1.Dotnet9.com/pays/AliPay.jpg" alt="">支付宝收款码</li>
                        <li><img src="https://img1.dotnet9.com/pays/QQPay.jpg" alt="">QQ收款码</li>
                    </ul>
                </section>
            </li>

        </ul>
    </div>
</div>
<div class="endmenu">
    <ul>
        <li>
            <a href="/"><i class="iconfont icon-shouye"></i>首页</a>
        </li>
        <li>
            <a href="/cat/dotnet"><i class="iconfont icon-fenlei"></i>.NET</a>
        </li>
        <li>
            <a href="/cat/database"><i class="iconfont icon-navicon-wzgl"></i>数据库</a>
        </li>
        <li>
            <a href="/about"><i class="iconfont icon-My"></i>关于</a>
        </li>
    </ul>
</div>
<a href="#" title="返回顶部" class="icon-top"></a>