@model BlogPostViewModel

<div class="d-none d-sm-block">
    @await Html.PartialAsync("/Views/Home/ShortAdsSidebar.cshtml")
    @await Component.InvokeAsync("ContactSidebar")
    @await Component.InvokeAsync("LatestBlogPosts")
    @await Html.PartialAsync("BlogPostList", new BlogPostListViewModel { Name = "相同专辑", Items = Model.SameAlbumBlogPosts })
    @await Html.PartialAsync("BlogPostList", new BlogPostListViewModel { Name = "相同分类", Items = Model.SameCategoryBlogPosts })
    @await Html.PartialAsync("/Views/Home/BigAdsSidebar.cshtml")
    @await Component.InvokeAsync("TagCloud")
</div>