@model Dotnet9.Web.ViewModels.Blogs.LoadMoreKind

<div class="row">
    <div class="col-12">
        <div id="@(Model)-container" class="row row-cols-1 row-cols-md-3 row-cols-xl-4 g-3">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12" style="margin-bottom: 50px; text-align: center;">
        <button id="@(Model)-btn" class="btn btn-outline-primary" data-loading-text="正在加载..." onclick="loadMore('@Model')">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击加载更多&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
</div>