@model Dotnet9.Web.ViewModels.Blogs.LatestViewModel

@foreach (var blogPost in Model.BlogPosts)
{
    <div class="col">
        @await Html.PartialAsync("/Views/BlogPost/BlogPostCard.cshtml", blogPost)
    </div>
}