@page
@inject IOptionsSnapshot<SiteOptions> SiteOptions
@{
    ViewData["Title"] = "首页";
}

@section Headers{
    <link rel="stylesheet" href="~/css/swiper.min.css"/>
}

@await Html.PartialAsync("Home/_BannerAndHeadlineBoxPartial")
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_TuiJianNewsPartial")
<environment names="Production">
    <div class="clear blank"></div>
    @await Html.PartialAsync("Ads/_DiaplayPartial")
</environment>
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_PicturePartial")
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_NewsPartial")
<environment names="Production">
    <div class="clear blank"></div>
    @await Html.PartialAsync("Ads/_DiaplayPartial")
</environment>
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_VideosPartial")
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_WenZiPartial")
<environment names="Production">
    <div class="clear blank"></div>
    @await Html.PartialAsync("Ads/_DiaplayPartial")
</environment>
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_ToolsPartial")
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_TagPartial")
<div class="clear blank"></div>
@await Html.PartialAsync("Home/_LinkPartial")
<div class="clear blank"></div>


@section Scripts{
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/banner.js"></script>
}