<div class="row">
    <div class="col-md-6">
        2019~<script>document.write(new Date().getFullYear())</script> © 沙漠尽头的狼 - Dotnet9.com
    </div>
    <div class="col-md-6">
        <div class="text-md-end footer-links d-none d-md-block">
            <a href="javascript: void(0);">About</a>
            <a href="javascript: void(0);">Support</a>
            <a href="javascript: void(0);">Contact Us</a>
        </div>
    </div>
</div>