@using Dotnet9.Web.Utils
@model Dotnet9.Web.ViewModels.Privacies.PrivacyViewModel
@{
    ViewData["Title"] = "隐私政策";
    Layout = "_PublicLayout";
}


@section Headers {

    <!--重置浏览器样式-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
    <!--代码块主题-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism-coy.min.css">
    <!--工具栏插件-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/toolbar/prism-toolbar.min.css">
    <!--行号插件-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.min.css">
    <!--图片等自适应-->
    <link rel="stylesheet" href="~/css/markdown.css">
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="page-aside-left">
                    @await Html.PartialAsync("/Views/BlogPost/BlogPostSidebar.cshtml")
                </div>
                <div class="page-aside-right">

                    <div class="card ribbon-box">
                        <div class="card-body">
                            <div class="ribbon ribbon-primary float-start"><i class="mdi mdi-access-point me-1"></i> 隐私政策</div>
                            <p class="ribbon-content">
                                关于本站隐私政策，如有疑问可联系站长。
                            </p>
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->

                    @if (Model.Privacy != null)
                    {
                        @Html.Raw(MarkdownHelper.Render(Model.Privacy.Content))
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <!--prism核心js (用于渲染代码块)-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.min.js"></script>
    <!--显示代码块行号-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
    <!--工具栏(一些插件的前置依赖)-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <!--代码块显示语言名称-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/show-language/prism-show-language.min.js"></script>
    <!--复制代码-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
    <!--自动去cdn加载对应语言的代码高亮js-->
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/autoloader/prism-autoloader.min.js"></script>
}