@inherits LayoutComponentBase
@inject BlogService BlogService

<HeaderPartial/>

<article>
    <LeftNavigation/>
    <div class="box_l">
        @Body
    </div>
    <div class="box_r">
        <TopKeywordsSidebar/>
        @if (recommendBlogs?.Blogs?.Any() == true)
        {
            <BlogsSidebar Model="recommendBlogs" />
        }
        @if (weekHotBlog?.Blogs?.Any() == true)
        {
            <BlogsSidebar Model="weekHotBlog" />
        }
        @if (historyHotBlog?.Blogs?.Any() == true)
        {
            <BlogsSidebar Model="historyHotBlog" />
        }
    </div>
</article>
<FooterPartial/>


@code
{
    BlogsSidebarModel? recommendBlogs;
    BlogsSidebarModel? weekHotBlog;
    BlogsSidebarModel? historyHotBlog;

    protected override async Task OnInitializedAsync()
    {
        recommendBlogs = new BlogsSidebarModel("站长推荐", await BlogService.GetRecommendAsync());
        weekHotBlog = new BlogsSidebarModel("本周排行", await BlogService.GetWeekHotAsync());
        historyHotBlog = new BlogsSidebarModel("历史排行", await BlogService.GetHistoryHotAsync());
    }
}