@page "/tools/jsonformatter"
@using System.Text.Json

<PageTitle>@_title</PageTitle>

<MApp>
    <h2 style="margin-bottom: 30px; margin-top: 10px; text-align: center;">@_title</h2>

    <div>
        <MTextarea BackgroundColor="grey lighten-2" Solo
                   Color="orange orange-darken-4" TValue="string" @bind-Value="_inputJson"
                   Label="输入Json" Rows="8" style="font-size:12px;" RowHeight="15" AutoGrow/>
    </div>

    <div>
        <MButton Color="success" class="ma-2" OnClick="() => FormatJson(true)">格式化</MButton>
        <MButton Color="lime" OnClick="() => FormatJson(false)">压缩</MButton>
    </div>

    <div>
        <MTextarea BackgroundColor="amber lighten-4" Solo
                   Color="orange orange-darken-4" TValue="string" @bind-Value="_formattedJson"
                   Label="格式化或压缩后Json" Rows="8" style="font-size:12px;" RowHeight="15" AutoGrow/>
    </div>
</MApp>

@code
{
        private const string? _title = "工具箱-JSON格式化";
    private string? _inputJson;
    private string? _formattedJson;

    private void FormatJson(bool writeIndented)
    {
        try
        {
            var jsonObject = JsonDocument.Parse(_inputJson).RootElement;
            _formattedJson = JsonSerializer.Serialize(jsonObject, new JsonSerializerOptions { WriteIndented = writeIndented });
        }
        catch (JsonException)
        {
            _formattedJson = "无效的JSON格式";
        }
    }
}