@page "/tools/string-encoder"

<PageTitle>@_title</PageTitle>

<MApp>
    <OpenOtherWebsite UrlSuffix="/tools/string-encoder"/>
    <h2 style="margin-bottom: 30px; margin-top: 10px; text-align: center;">@_title</h2>

    <StringEncoder/>
</MApp>

@code {
    private readonly string? _title = $"在线工具-{ToolKind.StringEncoder.ToolItem()?.Name}-Dotnet9";
}