@page "/about"
@model Dotnet9.RazorPages.Pages.Abouts.IndexModel
@{
    ViewData[ViewDataKeys.Title] = $"关于";
    ViewData[ViewDataKeys.Keywords] = Model.SiteInfo?.Keywords;
    ViewData[ViewDataKeys.Description] = Model.SiteInfo?.Description;
}

@await Html.PartialAsync("_MarkdownHeader")

<div id="view-content" class="gap-solid"></div>

<div class="details-content">
    @Html.Raw(Model.AboutContentHtml)
</div>

@await Html.PartialAsync("_MarkdownFooter")