@page "/albums/{Slug}"

@model Dotnet9.RazorPages.Pages.Albums.BlogModel
@{
    var title = $"专辑-{Model.RequestAlbumBlogResponse?.AlbumName}";
    ViewData[ViewDataKeys.Title] = title;
    ViewData[ViewDataKeys.Keywords] = Model.Slug;
    ViewData[ViewDataKeys.Description] = Model.RequestAlbumBlogResponse?.AlbumName;
}

<h1 class="detail-title">@title</h1>

<div id="view-content" class="gap-solid"></div>

@await Html.PartialAsync("_PaginationPartial", new PaginationModel(Model.Blogs, $"/albums/{Model.Slug}?", Model.Current, Model.Pages, Model.RequestAlbumBlogResponse!.Total, Model.PageSize, Model.RequestAlbumBlogResponse.TotalPage))