<footer>
    <div class="footer box">
        <div class="wxbox">
            <ul>
                <li>
                    <img src="https://img1.dotnet9.com/site/wechatpublic.jpg"><span>微信公众号</span>
                </li>
                <li>
                    <img src="https://img1.dotnet9.com/site/wechatowner.jpg"><span>我的微信</span>
                </li>
            </ul>
        </div>
        <div class="endnav">
            <p>
                <b>站点声明：</b>
            </p>
            <p>2019~@DateTime.Now.Year © <a href="https://dotnet9.com">https.dotnet9.com</a> 版权所有 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">蜀ICP备19038256号-1</a> 由 <a href="https://docs.microsoft.com/zh-cn/aspnet/core/mvc/overview?WT.mc_id=dotnet-35129-website&view=aspnetcore-7.0" target="_blank" rel="noopener">ASP.NET Core MVC 7.0 强力驱动</a> <a href="/sitemap.xml" target="_blank">网站地图</a></p>
            <p>
                <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1278208054'%3E%3C/span%3E%3Cscript src='https://v1.cnzz.com/z_stat.php%3Fid%3D1278208054%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script>
            </p>
            <p>当您访问我们的网站、服务或工具或与之互动时，我们或我们授权的服务提供商可能会使用cookie存储信息，以帮助为您提供更好、更快和更安全的体验，并用于营销目的。</p>
        </div>
    </div>
</footer>