@model Dotnet9.Web.ViewModels.Timelines.TimelineViewModel
@{
    ViewData["Title"] = "时间轴";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<article>

    @if (Model.Timelines != null)
    {
        @foreach (var timelineGroup in Model.Timelines)
        {
            <h5 class="m-0 time-show-name">@timelineGroup.Key</h5>
            @foreach (var timeline in timelineGroup.Value)
            {
                <div>
                    <span>@timeline.Title</span>
                    <small>@timeline.Time.ToString("yyyy年MM月dd日")</small>
                </div>
            }
        }
    }

</article>