@page "/about"
@using Dotnet9.Tools.Web.Shared.Public
@layout DocLayout

<PageTitle>关于 - D9工具箱</PageTitle>

<h1 class="entry-title">关于</h1>

<D9Markdown LocalPostFilePath="wwwroot/doc/README-zh_CN.md"/>