@page "/about"
@using Dotnet9.Tools.Web.Shared.Public
@layout DocLayout

<PageTitle>@T("About") - @T("Dotnet9ToolsTitle")</PageTitle>

<h1 style="text-align: center">@T("About")</h1>

<D9Markdown LocalPostFilePath="wwwroot/doc/README-zh_CN.md"/>

@code
{
    [CascadingParameter]
    public PublicLayout MainLayout { get; set; } = default!;

    public string? T(string key)
    {
        return MainLayout.T(key);
    }
}