@page "/blogs"

<h3>@T("Blog")</h3>

<p>
    Is Migrating...
</p>

@code
{
    [CascadingParameter]
    public PublicLayout MainLayout { get; set; } = default!;

    public string? T(string key)
    {
        return MainLayout.T(key);
    }
}