@page
@using Dotnet9.Services.Blogs
@model IndexModel
@inject PostCateService PostCateService;
@{
    var cateList = await PostCateService.GetCateList(20);
    var cateRankList = new RankListModel
    {
        Title = "分类",
        RankList = cateList.Select(a => new RankListItem
        {
            Text = a.CateName,
            Url = $"/cate/{a.Id}-1"
        }).ToList()
    };
}
<div class="row pb-2">
    @await Html.PartialAsync("Partial/_HomeBanner")
</div>
<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-9">
        <div class="d-flex flex-column">
            @await Html.PartialAsync("Partial/_PostItemView", Model.Posts)

            @await Html.PartialAsync("Partial/_PageView", new PageViewModel(Model.Total, 10, Model.PageIndex, pageIndex => $"?keywords={Model.Keywords}&pageIndex={pageIndex}&pageSize={Model.PageSize}"))
        </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-3">
        <partial name="Partial/_RankList" model="cateRankList"/>
    </div>
</div>

@section js{
    <script></script>
}