@charset "utf-8"; /**
 * base.css
 * https://www.ip3q.com/
 * Copyright 2023, design by yangqq
 */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #000; background: #fff; line-height: 1.5; overflow-x: hidden; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color: #333; }
a:hover { color: #333; text-decoration: none; }
.clear { clear: both; width: 100%; overflow: hidden; }
.blank { clear: both; width: 100%; overflow: hidden; height: 20px }
article { width: 1280px; margin: 120px auto 0; overflow: hidden }
.box { width: 1280px; margin: auto; overflow: hidden }
.is-fixed { position: fixed; top: 120px; z-index: 99; }
/*header*/
header { height: 85px; margin-bottom: 20px; border-bottom: 1px solid #e8e8e8; position: fixed; width: 100%; top: 0; background: #fff; z-index: 9999; }
.topbar { width: 1280px; margin: auto; padding: 20px 0; overflow: hidden; }
.logo { float: left; font-size: 24px; line-height: 44px; }
.logo img { height: 53px; }

.header-menu {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
}

.header-menu a {
    display: block;
    padding: 5px 0px 10px 5px;
    text-decoration: none;
    color: #333;
}

.header-menu a:hover {
    color: #888;
}

.badge {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #333;
}

.count {
    position: absolute;
    top: -12px;
    right: -10px;
    padding: 3px 6px;
    background-color: #ff8c00;
    color: #fff;
    font-size: 12px;
    border-radius: 60%;
    box-shadow: 0 0 0 2px #f2f2f2;
}

.important-word {
    padding: 3px 6px;
    background-color: #ff8c00;
    color: #fff;
    font-size: 14px;
    border-radius: 30%;
    box-shadow: 0 0 0 2px #f2f2f2;
}

.search {
    position: relative;
    overflow: hidden;
    width: 24%;
    height: 44px;
    background: #f0f0f0;
    border-radius: 20px;
    margin: 0 20px 0 30px;
    float: right;
}
.search input.input_submit { border: 0; color: #fff; outline: none; position: absolute; top: -4px; right: -4px; width: 20%; display: block; font-size: 15px; height: 33px; line-height: 36px; text-indent: 1em; cursor: pointer; background: url(../images/search.png) no-repeat center #fff; background-size: 18px; margin: 10px; border-radius: 20px; }
.search input.input_text { border: 0; line-height: 36px; height: 44px; font-size: 14px; width: 90%; outline: none; text-indent: 1em; background: no-repeat; }
/*nav*/
nav, .topnav { width: 210px; float: left }
nav ul li { height: 40px; color: #777; line-height: 40px; text-indent: 20px; font-size: 14px; }
nav ul li a { display: block; }
ul#starlist .group {
    background: #f3f3f3;
    border-top: #e8e8e8 1px solid;
    border-bottom: #e8e8e8 1px solid;
}
nav ul li a#selected { background: #f3f3f3; color: #000; font-weight: 700; }
nav ul li a:hover { background: #f3f3f3; }
nav em { width: 100%; display: block; height: 20px }

#mnavh {
    margin: 5px 0 0 0;
    width: 24px;
    height: 40px;
    float: right;
    text-align: center;
    padding: 0 10px;
    display: none
}
.navicon { display: block; position: relative; width: 30px; height: 2px; background-color: #999; margin-top: 20px; }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 2px; position: absolute; background: #999; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -9px; }
.navicon:after { margin-top: 9px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 2px; position: absolute; background: #999; }
.box_l { width: 738px; overflow: hidden; margin: 0 30px 20px; float: left; }
/*banner*/
.banner { width: 100%; margin-bottom: 40px; overflow: hidden }
.banner ul li { border-radius: 6px; position: relative; }
.banner ul li:nth-child(1) { width: 430px; height: 260px; float: left; overflow: hidden }
.banner ul li i { width: 100%; height: 100%; display: block; overflow: hidden; }
.banner ul li:nth-child(n+2) { width: 230px; height: 125px; overflow: hidden; float: right; margin: 0 0 10px; }
.banner ul li p { position: absolute; width: 100%; height: 38px; line-height: 38px; background: rgba(0,0,0,.35); bottom: 0; margin: 0; color: #fff; text-shadow: 1px 1px 1px #000; text-indent: 1em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.banner ul li:hover p { background: rgba(0,0,0,.5); }
.banner ul li i img { width: 100%; min-height: 100%; transition: .5s }
.banner ul li:hover img { transform: scale(1.02) }
/*blog_list*/
.blog_list ul { overflow: hidden }
.blog_list ul li { overflow: hidden; border-bottom: #e8e8e8 1px solid; padding-bottom: 18px; margin-bottom: 32px; }
.blog_list ul li a.blog_more { overflow: hidden; display: block; }
.blog_list ul li i { float: right; width: 178px; height: 100px; display: block; overflow: hidden; margin: 12px 0 0 22px; }
.blog_list ul li i img { width: 100%; min-height: 100% }
.blog_list ul li h2 { font-size: 20px; font-weight: 700; display: inline; margin-right: 8px; }
.blog_list .ps { display: inline-block; }
.blog_list .ps span { padding: 4px 10px; border-radius: 2px; font-size: 14px; margin-left: 8px; display: inline-block; line-height: 16px; position: relative; bottom: 4px; vertical-align: middle; }
.blog_list .ps .ps_tj { background-color: #eaf3ff; color: #328dff; }
.blog_list .ps .ps_yc { background-color: #f2f8eb; color: #81bd3e; }
.blog_list li p { overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; line-height: 24px; margin: 12px 0 24px 0; font-size: 14px }
.blog_list .info a { color: #6875b3; }
.blog_list .info span { font-size: 14px; color: #2A2B31; margin-right: 15px; padding-left: 18px; }
.blog_list .info span.info_user {
    background: url(../images/ft_about.png) no-repeat left center;
    background-size: 16px;
}
.blog_list .info span.info_class { background: url(../images/icon_class.png) no-repeat left center; background-size: 16px; }
.blog_list .info span.info_time, .blog_list .info span.info_view { color: #d4d3d3; }
.blog_list .info span.info_time { background: url(../images/icon_time.png) no-repeat left center; background-size: 16px; }
.blog_list .info span.info_view { background: url(../images/icon_view.png) no-repeat left center; background-size: 18px; padding-left: 20px; }
.blog_list li h2:hover { text-decoration: underline }
.info_class a:hover { text-decoration: underline; }
/*box_r*/
.box_r { float: right; width: 270px; }
.box_r > div { margin-bottom: 30px; }
.side_title h3 { font-size: 16px; color: #222; border-bottom: #e8e8e8 1px solid; padding-bottom: 20px; margin-bottom: 20px; }
.side_title a { float: right; font-size: 14px; color: #328dff; text-align: right; }
.hot_news li { margin-bottom: 15px; }
.hot_news li p { overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; line-height: 24px; margin: 0 0 5px 0; font-size: 14px; }
.hot_news li span { font-size: 12px; color: #777; line-height: 16px; background: url(../images/icon_view.png) no-repeat left center; background-size: 17px; padding-left: 22px; }
.hot_news li:hover p { text-decoration: underline }
.tags ul { overflow: hidden }
.tags ul li { border-radius: 10px; height: 20px; line-height: 20px; font-size: 12px; font-weight: 500; text-align: center; background: #f2f3f7; display: inline-block; margin: 0 8px 12px 0; }
.tags ul li a { color: #6f79a9; padding: 0 10px; }
.tj_news ul { background: url(../images/li.png) no-repeat top left 0 }
.tj_news ul li { line-height: 32px; margin-bottom: 16px; text-indent: 40px; }
.tj_news ul li p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.tj_news ul li p:hover { text-decoration: underline }
.read_more a { border: 2px solid #777; width: 140px; line-height: 48px; font-size: 13px; color: #333; display: block; text-align: center; border-radius: 30px; margin: 20px auto; }
/*footer*/
footer { background-color: #f5f5f5; padding: 10px 0; font-size: 14px; color: #777; }
.copyright { text-align: center; }
.copyright img { display: inline-block; vertical-align: bottom; }
.copyright p { margin: 10px 0; }
footer a { color: #777; }
.side_nav { position: fixed; right: 30px; bottom: 30%; z-index: 999; }
.side_nav ul li { text-align: center; position: relative; cursor: pointer; width: 48px; height: 48px; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.17); border-radius: 24px; margin-top: 16px; }
.side_nav ul li a { display: block; position: relative; }
.side_nav ul li span { position: absolute; top: -14px; right: 60px; font-weight: 900; color: #ffffff; z-index: 2; font-size: 14px; display: none; align-items: center; background: #f3f3f3; text-align: left; text-indent: 46px; }
.side_nav li i { display: block; margin: auto; width: 48px; height: 48px; border-radius: 24px; background: #fff; }
.side_nav li i img { width: 24px; margin: auto; padding-top: 13px; }
.side_nav ul li:hover span { display: block }
.side_nav ul li span:after { position: absolute; content: ""; border-width: 8px 0px 8px 8px; border-style: solid; border-color: transparent transparent transparent rgb(243 243 243); border-image: initial; top: 29px; right: -7px; }
.side_nav ul li:nth-child(2) span { width: auto; margin: 0; padding: 10px; top: -40px }
.side_nav ul li:nth-child(2) span:after { top: 40% }
.side_nav ul li span:before { content: ""; width: 20px; height: 100%; position: absolute; right: -20px; }
.side_nav ul li span img { width: 100px; padding: 10px; }
.side_nav ul li:hover i { background: #000 }
.side_nav ul li:hover i img { filter: brightness(100); }
.weizhi { color: #a4a8bd; font-size: 14px; margin-bottom: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.weizhi a { color: #a4a8bd; }
/*epages*/
.epages { text-align: center; color: #666; width: 100%; clear: both; margin: 30px 0; }
.epages a { color: #777; margin: 0 0 10px; padding: 4px 10px; display: inline-block; font-size: 14px; }
.epages a:nth-child(1) { position: relative; background: no-repeat; }
.epages a:hover, .epages > b { color: #777; background: #f5f5f5; display: inline-block; }
.epages > b { padding: 3px 10px; font-weight: normal; }
.epages a:nth-child(1):after { content: "篇文章"; }
.epages a:nth-child(1):before { content: "共更新"; }
.epages a:nth-child(1):hover { background: none }
.other_news { margin-top: 30px; margin-bottom: 50px }
.other_news a { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; }
.other_news a:hover { text-decoration: underline }
.content { font-size: 16px; line-height: 1.8; word-break: break-all; color: #262626; }
.content p { margin: 20px 0; }
.content ul, .content ol { margin: 20px 0 20px 35px; }
.content ul li, .content ol li { margin-top: 3px; line-height: 30px; }
.content.content ul li { list-style-type: disc; }
.content ol li { list-style-type: decimal; }
.content h2, .content h3, .content h4, .content h5, .content h6 { position: relative; margin: 20px 0; line-height: 1.2; }
.content h2 { font-size: 22px; }
.content h3 { font-size: 20px; }
.content h4 { font-size: 18px; }
.content h5 { font-size: 17px; }
.content h6 { font-size: 16px; }
.content hr { width: 100%; height: 1px; border: 0; border-top: 1px #dedddd solid; margin: 30px 0; }
.content img { max-width: 100% !important; width: auto !important; height: auto !important; margin: 10px auto; }
.content video { height: auto !important; display: block; margin: auto; max-width: 100% !important; }
.content table { max-width: 100%; border-width: 1px; border-color: #666; border-collapse: collapse; font-size: 15px; line-height: 26px; }
.content table th { border-width: 1px; padding: 4px 8px; border-style: solid; border-color: #666; background-color: #dedede; }
.content table td { border-width: 1px; padding: 4px 8px; border-style: solid; border-color: #666; background-color: #ffffff; }
.content span.marker { background: yellow; }
.content blockquote { position: relative; padding: 30px 30px 30px 75px; background: #f3f3f3; border-left: 0; font-size: 16px; border-radius: 3px; margin: 20px 0; display: block; }
.content blockquote:before { content: ""; background: url(../images/yinhao.png) no-repeat; width: 37px; height: 32px; position: absolute; left: 26px; top: 16px; }
.con_tit { margin: 40px 0; }
.con_tit h1 { font-size: 28px; color: #000; line-height: 40px; word-break: break-word; word-wrap: break-word; font-weight: 500; margin-bottom: 20px; }
span.con_tag { color: #81bd3e; letter-spacing: .44px; background-color: #f2f8eb; padding: 4px 8px; border-radius: 2px; display: inline-block; }
span.con_writer { font-size: 14px; color: #999; letter-spacing: .11px; line-height: 24px; }
.con_info span { margin-right: 10px; }
.con_info { font-size: 14px; color: #999; }
span.con_class a { color: #328dff; }
span.con_class a:hover { text-decoration: underline; }
.con_info time { margin-right: 10px; background: url(../images/icon_time.png) no-repeat left center; background-size: 16px; padding-left: 19px; }
span.con_link { background: url(../images/icon_view.png) no-repeat left center; background-size: 18px; padding-left: 20px; }
.con_tags a { color: #6f79a9; padding: 4px 13px 4px 30px; background: #f2f3f7; border-radius: 18px; margin:0 10px 7px 0; position: relative; font-size: 14px; display:inline-block }
.con_tags a:before { position: absolute; content: "#"; background: #6f79a9; color: #fff; width: 20px; height: 20px; border-radius: 100%; text-align: center; left: 3px; top: 3px; }
.info-pre-next { font-size: 14px; color: #999; margin: 30px 0; line-height: 30px; }
.info-pre-next a:hover { text-decoration: underline; }
.info-pre-next p { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.content a {color: #0782c1;}
.con_tags { margin: 20px auto;}

.pagination {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 60px;
    width: 100%;
}

    .pagination li {
        cursor: pointer;
        margin-left: 18px;
    }

.pagination-prev {
    transform: translateY(1px) rotate(180deg);
}

.pagination-btn[active] a {
    color: #448ef6;
}

.gap-solid {
    border-top: 1px solid #f1f1f1;
    display: inline-block;
    height: 0;
    width: 100%;
}

#view-content {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 0 30px;
}