@using Dotnet9.Categories

<MList Dense Nav>
    <MListItem>
        <MListItemContent>
            <MListItemTitle Class="text-h6">
                Dotnet9
            </MListItemTitle>
            <MListItemSubtitle>
                业精于勤而荒于嬉
            </MListItemSubtitle>
        </MListItemContent>
    </MListItem>

    <MDivider Class="m-0 p-0"/>

    <MListItemGroup @bind-Value="Selected">
        @foreach (var item in _items)
        {
            <MListItem @key="@item" Link>
                <MListItemContent>
                    <MListItemTitle>
                        @item.Text<span>(</span>@item.Count<span>)</span>
                    </MListItemTitle>
                </MListItemContent>
            </MListItem>
        }
    </MListItemGroup>
</MList>