@using Dotnet9.UrlLinks
@using JetBrains.Annotations
@inject IUrlLinkAppService _urlLinkAppService
<Alert Color="Color.Secondary" class="text-center" Visible="true">
    <div>
        Links:
        @if (_urlinksDtos != null)
        {
            @foreach (var url in _urlinksDtos)
            {
                <a href="@url.Url" alt="@url.Description" target="_blank" rel=noopener noreferrer>@url.Name</a>
                <span>&nbsp;|&nbsp;</span>
            }
        }
    </div>
    <div>Contact Us | Albums | User List</div>
    <div>本站由<a href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0" alt=".Net 6.0" target="_blank" rel=noopener noreferrer>.Net 6.0</a>强力驱动，本站源代码 <a href="https://github.com/dotnet9" alt="Github" target="_blank" rel=noopener noreferrer>Github</a></div>
    <div>Copyright © 2019-2022 Dotnet9.COM all rights reserved<a href="https://beian.miit.gov.cn/">蜀ICP备19038256号-1</a></div>
</Alert>

@code
{

    [CanBeNull] private IReadOnlyList<UrlLinkDto> _urlinksDtos;

    protected override async Task OnInitializedAsync()
    {
        _urlinksDtos = await _urlLinkAppService.GetListAsync();
    }
}