<Alert Color="Color.Secondary" class="text-center" Visible="true">
    <div>Links:<a href="https://lequ.co">乐趣课堂</a></div>
    <div>Contact Us | Albums | User List</div>
    <div>Copyright © 2019-2022 Dotnet9.COM all rights reserved<a href="https://beian.miit.gov.cn/">蜀ICP备19038256号-1</a></div>
</Alert>