@using Dotnet9.UrlLinks
@using JetBrains.Annotations
@using BlazorComponent
@inject IUrlLinkAppService _urlLinkAppService

<MFooter Color="primary lighten-1" Padless>
    <MCard Flat Title Dark Class="flex">
        <MCardTitle Class="teal">
            <MButton Color="white" Text Rounded Class="my-2">Home</MButton>
            <MButton Color="white" Text Rounded Class="my-2">About</MButton>
            <MButton Color="white" Text Rounded Class="my-2">blog</MButton>
            <MButton Color="white" Text Rounded Class="my-2">Contact US</MButton>
        </MCardTitle>
        <MCardText Class="teal">
            <MLabel>Friend links: </MLabel>
            @if (_urlinksDtos != null)
            {
                @foreach (var url in _urlinksDtos)
                {
                    <MButton Color="white" Text Rounded Class="mx-2 p-0">
                        <a style="text-decoration: none; color: white;" href="@url.Url" alt="@url.Description" target="_blank" rel=noopener noreferrer>@url.Name</a>
                    </MButton>
                }
            }
        </MCardText>
        <MCardActions Class="teal">
            <MLabel>
                Copyright © 2019-@DateTime.Now.Year <strong>Dotnet9.COM</strong> all rights reserved.&nbsp;&nbsp;&nbsp;<a style="text-decoration: none; color: white;" href="https://beian.miit.gov.cn/">蜀ICP备19038256号-1</a>
            </MLabel>
            <MSpacer></MSpacer>
            @foreach (var icon in _icons)
            {
                <MButton Class="mx-4" Dark Icon>
                    <MIcon Size="24">@icon</MIcon>
                </MButton>
            }
        </MCardActions>
    </MCard>
</MFooter>

@code
{
    private string[] _icons = new string[4] { "mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram" };
    [CanBeNull] private IReadOnlyList<UrlLinkDto> _urlinksDtos;

    protected override async Task OnInitializedAsync()
    {
        _urlinksDtos = await _urlLinkAppService.GetListAsync();
    }
}