本站由&nbsp;
<a href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0" alt=".Net 7.0" target="_blank" rel=noopener noreferrer> .Net 7.0 </a>
&nbsp;强力驱动，并基于&nbsp;
<a href="https://abp.io/" alt="ABP vNext" target="_blank" rel=noopener noreferrer> ABP vNext </a>
&nbsp;+&nbsp;
<a href="https://masa-blazor-docs-dev.lonsid.cn/" alt="MASA Blazor" target="_blank" rel=noopener noreferrer> MASA Blazor </a>
&nbsp;搭建，本站源代码&nbsp;
<MTooltip Top>
    <ActivatorContent>
        <MButton Icon Href="https://github.com/dotnet9/dotnet9.com" Target="_blank">
            <MIcon Size=24 Color="black">fab fa-github</MIcon>
        </MButton>
    </ActivatorContent>
    <ChildContent>
        <span>GitHub</span>
    </ChildContent>
</MTooltip>
<MTooltip Top>
    <ActivatorContent>
        <MButton Icon Href="https://gitee.com/dotnet9/dotnet9.com" Target="_blank">
            <img style="width: 24px; height: 24px;" src="https://img1.dotnet9.com/2022/01/gitee.png" alt="Gitee">
        </MButton>
    </ActivatorContent>
    <ChildContent>
        <span>Gitee</span>
    </ChildContent>
</MTooltip>