@inject ISystemClientService SystemClientService

@{
    var siteInfo = await SystemClientService.GetSiteInfoAsync();
}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>@ViewData[ViewDataKeys.Title]-@siteInfo?.AppName</title>
    <meta name="keywords" content="@ViewData[ViewDataKeys.Keywords]"/>
    <meta name="description" content="@ViewData[ViewDataKeys.Description]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await RenderSectionAsync("Headers", false)
</head>
<body>

@RenderBody()

    <environment names="Production">
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b1c5c62f256893710ae912468261bf6b";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8748951917303002"
                crossorigin="anonymous"></script>
    </environment>
</body>
</html>