@inject ISystemClientService SystemClientService

@{
    var siteInfo = await SystemClientService.GetSiteInfoAsync();
}

<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>@ViewData[ViewDataKeys.Title]-@siteInfo!.AppName</title>
    <meta name="keywords" content="@ViewData[ViewDataKeys.Keywords]"/>
    <meta name="description" content="@ViewData[ViewDataKeys.Description]"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/base.css" rel="stylesheet">
    <link href="/css/m.css" rel="stylesheet">
    <link href="/css/swiper.min.css" rel="stylesheet">
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/js/comm.js"></script>
    <!-- Swiper JS -->
    <script src="/js/swiper.min.js"></script>
    @await RenderSectionAsync("Headers", false)
</head>
<body>

@await Html.PartialAsync("_HeaderPartial")

<article>
    @await Html.PartialAsync("_LeftNavigation")
    <div class="box_l">
        @RenderBody()
    </div>
    <div class="box_r">
        @await Html.PartialAsync("_PopularWeekBlogSidebar")
    </div>
</article>
@await Html.PartialAsync("_FooterPartial")


@await RenderSectionAsync("Scripts", required: false)
<environment names="Production">
    <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b1c5c62f256893710ae912468261bf6b";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8748951917303002"
            crossorigin="anonymous"></script>
</environment>
</body>
</html>