@inject CategoryService CategoryService

@{
    var categories = await CategoryService.GetBriefAsync();
}

<nav>
    <div class="topnav">
        <ul id="starlist">
            @if (categories?.Count > 0)
            {
                <li class="group">文章分类</li>
                @foreach (var cat in categories)
                {
                    <li>
                        <a title="@cat.Description" href="/categories/@cat.Slug">@cat.Name (@cat.BlogCount)</a>
                    </li>
                }
            }
        </ul>
    </div>
    <em></em>
</nav>