@inject BlogService BlogService

@{
    var blogs = await BlogService.GetRecommendAsync();
}

<div class="hot_news">
    <div class="side_title">
        <h3>本周热门文章</h3>
    </div>

    @if (blogs?.Any() == true)
    {
        <ul>
            @foreach (var blog in blogs)
            {
                <li>
                    <a href="@blog.CreationTime.ToString("/yyyy/MM")/@blog.Slug">
                        <p>@blog.Title</p>
                    </a><span>@blog.ViewCount</span>
                </li>
            }
        </ul>
    }
</div>