@inject BlogService BlogService

@{
    var keywords = await BlogService.GetTopKeywordsAsync();
}

@if (keywords?.Any() == true)
{
    <div class="tags">
        <div class="side_title">
            <h3>Top关键字</h3>
        </div>

        <ul>
            @foreach (var searchCount in keywords)
            {
                <li>
                    <a href="?keywords=@searchCount.Keywords">@searchCount.Keywords (@searchCount.Count)</a>
                </li>
            }
        </ul>
    </div>
}