@using Dotnet9.Contracts.Tags
@using System.Net
@inject ICaller Caller
@{
    var tags = await Caller.GetAsync<List<TagBrief>>("/api/tags/week");
}
<div class="tags">
    <div class="side_title">
        <a href="/">更多</a>
        <h3>热门标签</h3>
    </div>
    @if (tags?.Any() == true)
    {
        <ul>
            @foreach (var tag in tags)
            {
                <li>
                    <a href="/tags/@WebUtility.UrlEncode(tag.Name)">@tag.Name (@tag.BlogCount)</a>
                </li>
            }
        </ul>
    }
</div>