.title {
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}

.link {
    margin-right: 10px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

    .link a {
        color: #D1C4E9;
        text-decoration: none;
    }

        .link a:hover {
            text-decoration: underline;
        }

.server {
    color: #B39DDB;
}

.wasm {
    color: #9575CD;
}

.github {
    color: #7E57C2;
}
