.about-md h1 {
    text-align: center;
    color: #0077cc;
}

.about-md h2 {
    text-align: center;
    color: #0077cc;
}

.about-md a {
    color: #0077cc;
    background-image: linear-gradient(to right, #0077cc, #00bfff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hljs {
    background: #1E1E1E !important;
    border: #1E1E1E !important;
    border-radius: 5px;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #3f8ee9 !important;
  }