@inject NavigationManager NavigationManager

<MFooter Padless Dark>
    <MCard Flat Tile Dark Class="flex">
        <MCardText Class="py-2 white--text text-center">
             <p>
                 &nbsp; 2022~@DateTimeOffset.Now.Year &nbsp;&nbsp; © <a href="https://dotnetools.com">Dotnet工具箱</a> &nbsp;& 沙漠尽头的狼 保留所有权利
                 &nbsp;|&nbsp; Powered & Developed by 沙漠尽头的狼
                 &nbsp;|&nbsp; <a class="important-word" href="https://dotnet9.com/donation" title="这是爱的力量">打赏</a>
                 &nbsp;|&nbsp; <a href="/about">关于</a>
             </p>

             <p>
                 备案号 <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow noopener">蜀ICP备19038256号-6</a>
                 &nbsp; | 本站由 .NET 8 强力驱动！
                 &nbsp; | 本站源代码：<a href="https://github.com/dotnet9/Dotnet9" target="_blank">Github</a>
                 &nbsp; | <a href="https://github.com/dotnet9/Dotnet9/issues" target="_blank">Bug反馈</a>
            </p>
        </MCardText>
    </MCard>
</MFooter>