<div class="container">
    <h3>推荐工具</h3>
    <ul>
        @foreach (var item in _items)
        {
            <li>
                <a href="@item.Url">@((MarkupString)item.Name)</a>
            </li>
        }
    </ul>
</div>

@code
{
    readonly ToolItem[] _items =
    {
        ToolKind.ToolJsonFormatter.Item()!,
        ToolKind.ToolRegexTester.Item()!,
        ToolKind.ToolRgb.Item()!
    };
}