<div class="container">
    <h3>推荐游戏</h3>
    <ul>
        @foreach (var item in _items)
        {
            <li>
                <a href="@item.Url">@((MarkupString)item.Name)</a>
            </li>
        }
    </ul>
</div>


@code
{
    readonly ToolItem[] _items = new[]
    {
        ToolKind.GameTetris.Item()!,
        ToolKind.GameMinesweeper.Item()!,
        ToolKind.GameGobang.Item()!
    };
}