.container {
    background-color: #fff;
    padding: 20px;
    margin: 5px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: inline-block;
    padding: 5px 5px 5px 0;
    color: #333;
    text-decoration: none;
    transition: transform 0.3s ease;
}
