<MCard MaxWidth="450"
       Class="mx-auto">
    <MList ThreeLine>
        <MSubheader Class="text-primary">站点信息</MSubheader>
        <MDivider Inset="true"></MDivider>
        <table class="site-info">
            <tr>
                <td>网站源码</td>
            </tr>
            <tr>
                <td>
                    <a href="https://github.com/dotnet9/dotnetools" target="_blank">Github</a>
                </td>
                <td>
                    <a href="https://github.com/dotnet9/dotnetools/issues" target="_blank">Bug反馈</a>
                </td>
            </tr>
        </table>
    </MList>
</MCard>