<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=iL6egdGSGCMPezcUyzMPEcs9qsllgwr-&jump_from=webapi">
            <img border="0" src="https://pub.idqqimg.com/wpa/images/group.png" alt="Dotnet9软件技术交流" title="Dotnet9软件技术交流">
        </a>
    </li>
    <li class="list-group-item">
        微信公众号：Dotnet9
    </li>
</ul>
<img src="https://img1.Dotnet9.com/site/wechatpublic.jpg" alt="wpf-international" class="img-fluid"/>