@model HomeViewModel
@{
    ViewData["Title"] = "首页";
    Layout = "_PublicLayout";
}
<article>
    @await Component.InvokeAsync("HomeHeader")
    <!-- headline-box end-->
    <div class="clear blank"></div>
    @await Component.InvokeAsync("WordBlogPosts5")
    <!-- tuijian-news end-->
    <div class="clear blank"></div>
    @await Component.InvokeAsync("WordBlogPosts4")
    <!-- pics end-->
    <div class="clear blank"></div>
    @await Component.InvokeAsync("WordBlogPosts3")
    <!-- news end-->
    <div class="clear blank"></div>
    @await Component.InvokeAsync("WordBlogPosts2")
    <!-- videos end-->
    <div class="blank clear"></div>
    @await Component.InvokeAsync("WordBlogPosts1")
    <!-- wenzi end-->
    <div class="blank clear"></div>
    @await Component.InvokeAsync("WordBlogPosts")
    <div class="blank clear"></div>
    @await Component.InvokeAsync("HotTags")
    <!-- tags end-->
    <div class="blank clear"></div>
    @await Component.InvokeAsync("FriendLink")
    <!-- links end-->
    <div class="blank clear"></div>
</article>