/*scrollbar*/
::-webkit-scrollbar-track {
    border-radius: 15px;
    margin: 5px 0;
}

::-webkit-scrollbar {
    height: 5px;
    margin: 5px 0;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(170 168 168)), color-stop(0.72, rgb(170 168 168)), color-stop(0.86, rgb(170 168 168)));
    border-radius: 15px;
    margin: 5px 0;
}

/*home css*/

body { font-family: Roboto, 'Microsoft YaHei'; }

.text-20 {
    font-size: 20px !important;
    line-height: 20px !important;
    text-transform: capitalize !important;
}

.text-14 {
    font-size: 14px !important;
    line-height: 14px !important;
    text-transform: capitalize !important;
}

.fs-18 { font-size: 18px; }

.mt-100 { margin-top: 100px; }

.mx-149 { margin: 0 149px; }

.app-bar .m-toolbar__content {
    padding-bottom: 0;
    padding-top: 0;
}

.pc-app-bar { display: block !important; }

.phone-bar { display: none !important; }

.mtab-font .m-tab { font-size: 1rem !important; }

.window-img { border-radius: 0 !important; }

@media screen and (max-width: 1264px) {
    .app-bar { display: none !important; }

    .phone-bar { display: block !important; }

    .baselayout-m-app { background-color: #fff !important; }

    .mainlayout-m-main { margin: 80px 80px 0 80px !important; }

    .doc-nav-left {
        margin-left: 0 !important;
        /*transform: translateX(-100%);*/
        top: 0px !important;
        width: 313px !important;
    }

    .doc-nav-right { transform: translateX(100%) !important; }
}

@media screen and (max-width: 641px) {
    .baselayout-m-app { background-color: #fff !important; }

    .app-bar { display: none !important; }

    .phone-bar { display: block !important; }

    .phone-bar .m-toolbar__content { padding: 4px; }

    .doc-nav-left {
        margin-left: 0 !important;
        /*transform: translateX(-100%);*/
        top: 0px !important;
        width: 313px !important;
    }

    .doc-nav-right { transform: translateX(100%) !important; }

    .mainlayout-m-main { margin: 112px 0 0 0 !important; }

    .app-banner {
        display: block !important;
        margin: 120px 16px 0 16px !important;
    }

    .banner { display: none !important; }

    .banner-logo-font {
        font-size: 25px !important;
        letter-spacing: 0.5px !important;
        line-height: 29px !important;
    }

    .banner-detail-box { margin-top: 12px !important; }

    .banner-detail-font {
        font-size: 12px !important;
        line-height: 16px !important;
    }

    .content { margin: 0 16px !important; }

    .information { padding: 40px 0 16px 0 !important; }

    .box-title {
        font-size: 15px !important;
        line-height: 18px !important;
    }

    .box-title-border {
        border-width: 3px !important;
        height: 18px !important;
        margin-top: 0 !important;
    }

    .box-title-more {
        font-size: 14px !important;
        letter-spacing: 1px !important;
        line-height: 23px !important;
    }

    .video video { height: 194px !important; }

    .video-description { margin: 16px 0px 8px 0px !important; }

    .video-p {
        color: #4E5969 !important;
        font-size: 14px !important;
        letter-spacing: 0.5px !important;
        line-height: 16px !important;
        margin: 8px 0px !important;
    }

    .video-span {
        font-size: 14px !important;
        letter-spacing: 1px !important;
        line-height: 16px !important;
        margin-top: 8px !important;
    }

    .video-group {
        margin: 0 !important;
        padding-top: 18px !important;
    }

    .video-group .col {
        display: flex !important;
        justify-content: center !important;
        padding: 8px 0 !important;
    }

    .video-group .m-card {
        height: 247px !important;
        margin: 0 !important;
    }

    .video-group .m-card .m-image { height: 204px !important; }

    .video-group .m-card .m-card__text { font-size: 14px !important; }

    .why-masa-blazor-card { margin: 0 !important; }

    .why-masa-blazor-card .col { padding: 8px 0 !important; }

    .why-masa-blazor-card .m-card { height: 91px !important; }

    .why-masa-blazor-card-content img {
        height: 50px !important;
        margin: 0 10px !important;
        width: 50px !important;
    }

    .why-masa-blazor-card-content {
        display: flex;
        flex-direction: row !important;
        padding: 14px 10px !important;
    }

    .why-masa-blazor-card-content.desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .why-masa-blazor-p {
        font-size: 16px !important;
        line-height: 19px !important;
        margin: 0px !important;
        text-align: start !important;
    }

    .why-masa-blazor-span {
        -webkit-line-clamp: 2 !important;
        font-size: 12px !important;
        line-height: 18px !important;
        margin: 8px 0px !important;
        text-align: start !important;
    }

    .why-masa-blazor-card-content .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .why-masa-blazor-card .col:last-child { display: none !important; }

    .evaluation-cooperation-p { font-size: 14px !important; }

    .companies-box { margin: 0 !important; }

    .companies-box .col {
        display: flex !important;
        justify-content: center !important;
        padding: 8px 0 !important;
    }

    .companies-box .m-card { height: 241px !important; }

    .companies-content img {
        height: 50px !important;
        width: 50px !important;
    }

    .companies-content {
        margin: 0px !important;
        padding: 50px 0px !important;
    }

    .companies-content .user-name {
        font-size: 16px !important;
        line-height: 19px !important;
        margin-top: 8px !important;
    }

    .companies-content .user-description {
        -webkit-line-clamp: 3 !important;
        font-size: 16px !important;
        letter-spacing: 0.5px !important;
        line-height: 19px !important;
        margin: 8px 16px !important;
    }

    .comperation-company {
        margin-top: 33px !important;
        padding: 12px 0 !important;
    }

    .comperation-company img { zoom: 0.5; }

    .related-articles .card-box { margin: 0 !important; }

    .related-articles .card-box .col { padding: 8px 0 !important; }

    .related-articles .card-box .col {
        display: flex !important;
        justify-content: center !important;
    }

    .related-articles .card-box .m-card {
        height: 247px !important;
        margin: 0 !important;
    }

    .related-articles .card-box .m-card .m-card__text { font-size: 14px !important; }

    .related-articles .card-box .m-card .m-image { height: 204px !important; }

    .related-articles .card-box .m-card .m-image .m-image__image--cover {
        background-position: initial !important;
        background-repeat: round;
        background-size: contain;
    }

    .contribution { padding: 30px 0px 16px 0px !important; }

    .contribution p {
        font-size: 12px !important;
        line-height: 14px !important;
    }

    .contribution .m-avatar {
        height: 30px !important;
        min-height: 30px !important;
        min-width: 30px !important;
        width: 30px !important;
    }

    .contribution .row:last-child { margin-top: 0 !important; }

    .thanks {
        margin-top: 60px !important;
        padding-bottom: 32px !important;
    }

    .thanks p {
        font-size: 12px !important;
        line-height: 14px !important;
    }

    .thanks .row:last-child { margin-top: 16px !important; }

    .thanks img { zoom: 0.4; }

    .footer { padding: 0 16px !important; }

    .foot-box {
        flex-direction: column !important;
        justify-content: start !important;
        padding: 5px;
        padding-bottom: 35px !important;
        padding-top: 35px !important;
        text-align: center;
    }

    .foot-box p {
        font-size: 12px !important;
        line-height: 14px !important;
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }

    .foot-box a {
        color: #fff !important;
        display: block;
        font-size: 12px !important;
        line-height: 14px !important;
        padding-bottom: 20px !important;
        padding-top: 20px !important;
        text-decoration: none;
    }

    .foot-box .foot-p { display: none; }
}

.home { background-color: #F2F3F5 }

.home p { margin-bottom: 0 !important; }

.banner { margin: 106px 80px 0 80px !important; }

.banner-detail-box { margin-top: 30px; }

.banner-logo-font {
    color: #000000;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 94px;
}

.banner-detail-font {
    color: #4E5969;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    text-align: justify;
}

.banner-btn {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0px;
    position: static;
}

.banner-img {
    height: 462px;
    left: 166px;
    position: absolute;
    top: 0px;
    width: 462px;
}

.content { margin: 0 80px; }


.information {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 160px 0px 60px;
}

.box-title {
    font-size: 24px;
    font-weight: 900;
    margin-left: 20px;
}

.box-title-border {
    height: 28px;
    margin-top: 5px;
    width: 6px;
}

.box-title-more {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 23px;
}

.video-description { margin: 0px 24px; }

.video video { width: 100%; }

.video-p {
    color: #1D2129;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 38px;
}

.video-span {
    color: #1D2129;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    margin-top: 30px;
}

.video-group {
    align-items: center;
    justify-content: center;
    margin: 0 149px;
    padding-top: 160px;
}

.video-group .m-card {
    height: 348px;
    margin: 12px;
    width: 348px;
}

.why-masa-blazor-card { margin: 0 149px; }

.why-masa-blazor-card .m-card {
    height: 470px;
    width: 470px;
}

.why-masa-blazor-card-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.why-img-box {
    align-items: center;
    display: flex;
    /* Inside Auto Layout */

    flex: none;
    flex-direction: row;
    flex-grow: 0;
    height: 226.67px;
    justify-content: center;
    left: calc(50% - 548px / 2);
    margin: 0px 0px;
    order: 0;
    padding: 66.6667px 296px 26.6667px;
    position: static;
    top: 17.67px;
    width: 548px;
}

.why-masa-blazor-p {
    /* text-5强调 正文标题 */
    color: #1D2129;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
    margin-top: 24px;
    opacity: 0.9;
    text-align: center;
}

.why-masa-blazor-span {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #4E5969;
    display: -webkit-box;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin: 20px 24px 0 24px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.evaluation-cooperation-p {
    font-size: 16px;
    font-weight: bold;
    text-align: end;
}

.companies-box { height: auto; }

.companies-content {
    margin: 64px 24px;
    padding-top: 64px;
}

.user-name {
    color: #1D2129;
    font-size: 35px;
    font-style: normal;
    font-weight: bold;
    line-height: 31px;
    margin: 32px 36px;
    text-align: center;
}

.conpany-using-card { /*transition:0.3s;*/ }

.user-name-active {
    color: #4E5969;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: 47px;
    margin: 43px 48px;
    text-align: center;
}

.user-description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    color: #86909C;
    display: -webkit-box;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-top: 24px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}

.user-description-active {
    color: #4E5969;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 43px 21px;
    text-align: justify;
}

.comperation-company {
    background: #E5E6EB;
    margin-top: 160px;
    padding: 53px 0px;
    width: 100%;
}

.related-articles .card-box { margin: 100px 149px 0 149px; }

.contribution {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px 160px 0px;
}

.contribution .row:last-child { margin-top: 40px; }

.thanks {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 160px;
}

.thanks .row:last-child { margin-top: 40px; }

.footer { padding: 0 80px; }

.foot-box {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.foot-box p { padding: 24px 0; }

.activeNavClass {
    background-color: #5c2d91;
    border-color: #5c2d91;
}

/*.m-list-item.m-list-item--link.m-list-item--active.m-list-item--default {
    background-color: #5c2d91;
    color: #fff;
}*/


/*doc nav*/

.doc-nav-list .m-list-item__icon:first-child { margin-right: 4px !important; }

.doc-nav-list .m-list-item__title { font-size: 14px !important; }

.doc-nav-list .theme--light.m-icon { color: currentColor; }

.doc-nav-list .m-list-group--sub-group .m-list-group__header { padding-left: 8px !important; }

.doc-nav-list .m-list-group--sub-group .m-list-group__items .m-list-item { padding-left: 36px !important; }


.doc-nav-list .m-list-group--no-action > .m-list-group__items > .m-list-item { padding-left: 36px !important; }

.doc-nav-list .m-list-group--no-action.m-list-group--sub-group > .m-list-group__items > .m-list-item { padding-left: 60px !important; }

.doc-nav-list .m-icon__svg .m-icon {
    font-size: 24px !important;
    height: 24px !important;
    width: 24px !important;
}