<div class="d-none d-sm-block">
    @await Html.PartialAsync("/Views/Home/ShortAdsSidebar.cshtml")
    @await Component.InvokeAsync("ContactSidebar")
    @await Component.InvokeAsync("LatestBlogPosts")
    @await Html.PartialAsync("/Views/Home/BigAdsSidebar.cshtml")
    @await Component.InvokeAsync("TagCloud")
</div>