@inject ISystemService SystemService
@{
    var siteInfo = await SystemService.GetSiteInfoAsync();
}

<footer>
    <div class="box">
        <div class="copyright">
            <p>Copyright © @siteInfo?.AppName</p>
            <p>备案号 <a href="@siteInfo?.BeiAnUrl" target="_blank">@siteInfo?.BeiAn</a> ｜<a href="/" target="_blank">网站地图</a></p>
        </div>
    </div>
</footer>
<div class="side_nav">
    <ul>
        <li>
            <a href="/about" title="关于博主">
                <i class="icon_ab">
                    <img src="~/images/ft_about.png" alt="">
                </i>
            </a>
        </li>
        <li>
            <a title="在线留言">
                <i class="icon_wx">
                    <img src="~/images/ft_ewm.png" alt="">
                </i>
                <span>
                    <img src="~/images/wechatpublic1.jpg" alt="快乐玩转技术微信公众号">
                </span>
            </a>
        </li>
        <li>
            <a title="个人微信">
                <i class="icon_wx">
                    <img src="~/images/ft_ewm.png" alt="">
                </i>
                <span>
                    <img src="~/images/wechatowner.jpg" alt="微信">
                </span>
            </a>
        </li>
        <li>
            <a title="微信公众号">
                <i class="icon_wx">
                    <img src="~/images/ft_ewm.png" alt="">
                </i>
                <span>
                    <img src="~/images/wechatpublic.jpg" alt="Dotnet9微信公众号">
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-top" title="返回顶部">
                <i class="icon_fh">
                    <img src="~/images/ft_top.png" alt="">
                </i>
            </a>
        </li>
    </ul>
</div>