@inject ISystemService SystemService
@inject ICaller Caller
@{
    var siteInfo = await SystemService.GetSiteInfoAsync();
    var friendlyLinks = await Caller.GetAsync<PaginatedListBase<FriendlyLinkDto>>($"/api/links?page=1&pageSize=100");
}

<footer>
    <div class="box">
        <div class="copyright">
            <p>
                友情链接：
                @if (friendlyLinks?.Result.Any() == true)
                {
                    @foreach (var link in friendlyLinks.Result)
                    {
                        <a href="@link.Url" title="@link.Description">@link.Name</a>
                        <span>&nbsp;|&nbsp;</span>
                    }
                }
            </p>

            <p>
                &nbsp; 2019~@DateTimeOffset.Now.Year &nbsp;&nbsp; © <a href="@siteInfo?.Domain">@siteInfo?.AppName</a> &nbsp;& @siteInfo?.Owner 保留所有权利
                &nbsp;|&nbsp; Powered & Developed by @siteInfo?.Owner
                &nbsp;|&nbsp; <a class="important-word" href="/donation" title="这是爱的力量">打赏</a>
                &nbsp;|&nbsp; <a href="/about">关于</a>
            </p>

            <p>
                备案号 <a href="@siteInfo?.BeiAnUrl" target="_blank" rel="nofollow noopener">@siteInfo?.BeiAn</a>
                ｜<a href="/sitemap.xml" target="_blank">网站地图</a>
                ｜<a href="/rss" target="_blank">Rss</a>
            </p>

            <p>
                &nbsp; 本站由 .NET 8.0 强力驱动！
                &nbsp; | 本站源代码：<a href="@siteInfo?.Github" target="_blank">Github</a>
                &nbsp; | <a href="@siteInfo?.Github/issues" target="_blank">Bug反馈</a>
                &nbsp; | 前台&nbsp;<a href="https://learn.microsoft.com/zh-cn/aspnet/core/razor-pages/?view=aspnetcore-8.0&tabs=visual-studio" target="_blank">Razor Pages</a>
                &nbsp; | 后端&nbsp;<a href="https://learn.microsoft.com/zh-cn/aspnet/core/web-api/?view=aspnetcore-8.0" target="_blank">.NET Web API</a>
                &nbsp; | <a href="/privacy" target="_blank">隐私政策</a>
            </p>
        </div>
    </div>
</footer>

<div class="side_nav">
    <ul>
        <li>
            <a href="/about" title="关于博主">
                <i class="icon_ab">
                    <img src="~/images/ft_about.png" alt="">
                </i>
            </a>
        </li>
        <li>
            <a title="在线留言">
                <i class="icon_wx">
                    <img src="~/images/ft_ewm.png" alt="">
                </i>
                <span>
                    <img src="~/images/wechatpublic1.jpg" alt="快乐玩转技术微信公众号">
                </span>
            </a>
        </li>
        <li>
            <a title="个人微信">
                <i class="icon_wx">
                    <img src="~/images/ft_ewm.png" alt="">
                </i>
                <span>
                    <img src="~/images/wechatowner.jpg" alt="微信">
                </span>
            </a>
        </li>
        <li>
            <a title="微信公众号">
                <i class="icon_wx">
                    <img src="~/images/ft_ewm.png" alt="">
                </i>
                <span>
                    <img src="~/images/wechatpublic.jpg" alt="Dotnet9微信公众号">
                </span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-top" title="返回顶部">
                <i class="icon_fh">
                    <img src="~/images/ft_top.png" alt="">
                </i>
            </a>
        </li>
    </ul>
</div>