@inject ISystemService SystemService
@{
    var siteInfo = await SystemService.GetSiteInfoAsync();
}
<header>
    <div class="topbar">
        <a href="/" class="logo">@siteInfo?.AppName</a>
        <div class="search">
            <form action="/" method="get" name="searchform" id="searchform">
                <input name="keywords" id="keywords" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
                <input name="show" value="title" type="hidden">
                <input name="tempid" value="1" type="hidden">
                <input name="tbname" value="news" type="hidden">
                <input name="Submit" class="input_submit" value="" type="submit">
            </form>
        </div>
    </div>
    <h2 id="mnavh">
        <span class="navicon"></span>
    </h2>
</header>