<div class="hot_news">
    <div class="side_title">
        <h3>本周热门文章</h3>
    </div>
    <ul>
        <li>
            <a href="/">
                <p>HarmonyOS/OpenHarmony应用开发--ArkTS组件区域变化事件</p>
            </a><span>832</span>
        </li>
        <li>
            <a href="/">
                <p>CAD管道图形绘制过程</p>
            </a><span>695</span>
        </li>
        <li>
            <a href="/">
                <p>OpenHarmony轻量系统开发【4】编写第一个程序、启动流程分析</p>
            </a><span>66</span>
        </li>
        <li>
            <a href="/">
                <p>在 WebAssembly 中使用 C/C++ 和 libbpf 编写 eBPF 程序</p>
            </a><span>23</span>
        </li>
        <li>
            <a href="/">
                <p>面试高频问题之C++11新特性</p>
            </a><span>18</span>
        </li>
    </ul>
</div>