@inject ICaller Caller

@{
    var recommendBlogs = await Caller.GetAsync<List<BlogBrief>>("/api/blog/recommend");
}
<div class="hot_news">
    <div class="side_title">
        <h3>本周热门文章</h3>
    </div>

    @if (recommendBlogs?.Any() == true)
    {
        <ul>
            @foreach (var blog in recommendBlogs)
            {
                <li>
                    <a href="@blog.CreationTime.ToString("/yyyy/MM")/@blog.Slug">
                        <p>@blog.Title</p>
                    </a><span>23</span>
                </li>
            }
        </ul>
    }
</div>