<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">留言</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img
                        class="img-responsive user-photo"
                        src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <textarea
              class="form-control"
              cols="15"
              id="commentInput"
            ></textarea>
                    </div>
                    <div class="panel-heading comment-action">
                        <div class="submit-comment">
                            <a href="https://www.blogger.com/null" id="addNewCommentBtn">
                                留言
                            </a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>