@page "/tools"
@using Dotnet9.Tools.Web.Models
@using Dotnet9.Tools.Web.Shared.Public
@using Dotnet9.Tools.Web.Utils
@layout DocLayout

<PageTitle>工具 - D9工具箱</PageTitle>
<h1 class="entry-title">工具</h1>

<CardItemList Items="_tools"/>


@code {

    readonly List<CardItem> _tools = new();

    protected override async Task OnInitializedAsync()
    {
        _tools.Add(new CardItem("Icon转换", "/ico", "将jpg、png、bmp等图片一键转换成ico图标", "/ico", SiteUrlHelper.ToolsIconCoverUrl, "沙漠尽头的狼", originalLink: "/", date: "2022-02-22"));
        _tools.Add(new CardItem("时间戳", "/timestamp", "时间戳转换", "/timestamp", SiteUrlHelper.ToolsTimestampCoverUrl, "沙漠尽头的狼", originalLink: "/", date: "2022-02-28"));

        await base.OnInitializedAsync();
    }

}

<style>
    .entry-title { text-align: left; }
</style>