@page "/tools"
@using Dotnet9.Tools.Web.Models
@using Dotnet9.Tools.Web.Shared.Public
@layout DocLayout

<h1 class="entry-title">@T("Tools")</h1>

<CardItemList Title="@T("Tools")" Items="_tools"/>


@code {

    readonly List<CardItem> _tools = new();

    [CascadingParameter]
    public PublicLayout? MainLayout { get; set; }

    public string T(string key)
    {
        return MainLayout?.T(key) ?? string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        _tools.Add(new CardItem(T("IcoToolTitle"), "/ico", T("IcoToolDesc"), "/ico", "doc/blog_contents/uploads/2022/02/cover_13.jpg"));
        _tools.Add(new CardItem(T("TimestampToolTitle"), "/timestamp", T("TimestampToolDesc"), "/timestamp", "doc/blog_contents/uploads/2022/02/cover_17.jpeg"));

        await base.OnInitializedAsync();
    }

}