.blog-content{
    width: 1280px;
    margin: 0px auto 0;
    overflow: hidden;
    height: 100%;
}

.menu{
    color: rgb(72 72 80);
    margin: 5px 0 5px 0;
    width: 100%;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    cursor: pointer;
}


.menu:hover{
    background-color: #f5f5f5;
}

.menu-select{
    border-left: 2px solid #028bed;
    background-color: rgba(0,0,0,.05);
}

.semi-card-body{
    padding: 10px !important;
}

.box {
    border-left: 2px solid #ccc;
    transition: border-color 0.5s ease-in-out;
  }
  
  .box:hover {
    border-color: blue;
  }
  
  .box.active {
    border-color: blue;
  }
  
  .box.previous {
    border-color: #ccc;
    transition: border-color 1s ease-in-out;
  }
  

@media screen and (max-width: 800px) {

    .blog-content {
        width: 100% !important;
    }

    .blog-render {
        width: 100% !important;
    }
}

@media screen and (max-width: 1200px) {
    .blog-ranking {
        transition: 0.3s;
        display: none;
        width: 0px;
    }

    .blog-content {
        width: 1200px;
    }

    .blog-content {
        width: 100% !important;
    }

    .blog-render {
        width: 100% !important;
    }

    .blog-info {
        transition: 0.3s;
        width: 0px;
        display: none;

    }
}