@page "/donation"

@model Dotnet9.RazorPages.Pages.Donations.IndexModel
@{
    ViewData[ViewDataKeys.Title] = $"打赏";
    ViewData[ViewDataKeys.Keywords] = Model.SiteInfo?.Keywords;
    ViewData[ViewDataKeys.Description] = Model.SiteInfo?.Description;
}

@await Html.PartialAsync("_MarkdownHeader")

<div id="view-content" class="gap-solid"></div>

<div class="details-content">
    @Html.Raw(Model.ContentHtml)
</div>

@await Html.PartialAsync("_MarkdownFooter")