.list-data {
    transition: 0.3s;
    margin: 10px 0 5px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    width: 190px;
}

.list-data:hover {
    transition: 0.3s;
    color: cornflowerblue;
}

.list-serial{
    color: #297cfa;
}