<div class="tj_news">
    <div class="side_title">
        <h3>@Model?.GroupName.ToMarkupString()</h3>
    </div>

    @if (Model?.Blogs?.Any() == true)
    {
        <ul>
            @foreach (var blog in Model.Blogs)
            {
                <li>
                    <a href="@blog.CreationTime.ToString("/yyyy/MM")/@blog.Slug">
                        <p>(<span>@blog.ViewCount</span>)@blog.Title.ToMarkupString()</p>
                    </a>
                </li>
            }
        </ul>
    }
</div>

@code {

    [Parameter]
    public BlogsSidebarModel? Model { get; set; }

}