@inherits LayoutComponentBase
@inject BlogService BlogService
@inject IJSRuntime JsRuntime

<HeaderPartial/>

<article>
    <LeftNavigation/>
    <div class="box_l">
        @Body
    </div>
    <div class="box_r">
        <TopKeywordsSidebar/>
        @if (_recommendBlogs?.Any() == true)
        {
            <BlogSideBar Model="_recommendModel"/>
        }
        @if (_weekHotBlog?.Any() == true)
        {
            <BlogSideBar Model="_weekHotModel"/>
        }
        @if (_historyHotBlog?.Any() == true)
        {
            <BlogSideBar Model="_historyHotModel"/>
        }
    </div>
</article>

<FooterPartial/>

@code
{
    List<BlogBrief>? _recommendBlogs;
    List<BlogBrief>? _weekHotBlog;
    List<BlogBrief>? _historyHotBlog;
    BlogsSidebarModel? _recommendModel;
    BlogsSidebarModel? _weekHotModel;
    BlogsSidebarModel? _historyHotModel;

    protected override async Task OnInitializedAsync()
    {
        _recommendBlogs = await BlogService.GetRecommendAsync();
        _recommendModel = new BlogsSidebarModel(" 站长推荐", _recommendBlogs);
        _weekHotBlog = await BlogService.GetWeekHotAsync();
        _weekHotModel = new BlogsSidebarModel("本周排行", _weekHotBlog);
        _historyHotBlog = await BlogService.GetHistoryHotAsync();
        _historyHotModel = new BlogsSidebarModel("历史排行", _historyHotBlog);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("window.windowInit");
        }
    }
}