@using Dotnet9.WebShare.Helpers

<div class="line-numbers">
    @{
        if (HasXss)
        {
            @_postHtmlContent.ToString()
        }
        else
        {
            @_postHtmlContent
        }
    }
</div>

@code {

    [Parameter]
    public string? MarkdownContent { get; set; }

    private bool HasXss { get; set; }

    private MarkupString _postHtmlContent;

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(MarkdownContent))
        {
            return;
        }
        var htmlData = MarkdownContent.Convert2Html();
        if (htmlData.Contains("<script") || htmlData.Contains("<link"))
        {
            HasXss = true;
        }
        _postHtmlContent = (MarkupString)htmlData;
        await base.OnParametersSetAsync();
    }
}