<div class="tj_news">
    <div class="side_title">
        <h3>在线工具</h3>
    </div>

    <ul>
        @foreach (var item in _items)
        {
            <li>
                <a href="@item.Url">
                    <p>@item.Name.ToMarkupString()</p>
                </a>
            </li>
        }
    </ul>
</div>

@code {

    readonly Dotnetools.Share.Models.ToolItem[] _items = new[]
    {
        ToolKind.ToolJsonFormatter.Item()!,
        ToolKind.ToolRegexTester.Item()!,
        ToolKind.ToolRgb.Item()!
    };

}