<PageTitle>@($"{Kind?.Item()?.Name}-Dotnet9")</PageTitle>

<MApp>
    <OpenOtherWebsite UrlSuffix="@Kind?.Item()?.Url"/>
        <h2 style="margin-bottom: 30px; margin-top: 10px; text-align: center;">@Kind?.Item()?.Name</h2>

    <ToolItemComponent Kind="@Kind"/>
</MApp>

@code
{
    [Parameter]
    public ToolKind? Kind { get; set; }
}