@model ContactSidebarViewModel

<ul class="list-group list-group-flush">

    <li class="list-group-item">
        <small>本站源码：</small>
        <br/>
        <a href="https://github.com/dotnet9/Dotnet9">
            <img src="~/images/brands/github.png" alt="Github">
        </a>
        <a href="https://gitee.com/dotnet9/Dotnet9">
            <img src="~/images/brands/gitee.png" alt="Gitee">
        </a>
    </li>
    <li class="list-group-item">
        <small>本站博文：</small>
        <br/>
        @Model.TotalPostCount<span>篇</span>
    </li>
    <li class="list-group-item">
        <small>最近更新：</small>
        <br/>
        @Model.LatestPostTime?.ToString("yyyy-MM-dd HH:mm:ss")
    </li>

    <li class="list-group-item">
        <a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=iL6egdGSGCMPezcUyzMPEcs9qsllgwr-&jump_from=webapi">
            <img border="0" src="https://pub.idqqimg.com/wpa/images/group.png" alt="Dotnet9软件技术交流" title="Dotnet9软件技术交流">
        </a>
    </li>
    <li class="list-group-item">
        微信公众号：Dotnet9
    </li>
</ul>
<img src="https://img1.Dotnet9.com/site/wechatpublic.jpg" alt="wpf-international" class="img-fluid"/>